@import "../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.cashier {
  cursor: pointer;
}

.is-transparent {
  opacity: 0;
}

.is-solid {
  opacity: 1;
}

.card {
  margin-top: 12px;
}

.card.shift_active {
  background: $clr-action-blue;
  * {
    color: #FFFFFF;
  }
}

.cashier-item, .item-total {
  white-space: nowrap;
  font-size: 12px;
  margin: 0;
}

.item-total {
  font-weight: bold;
}

li {
  list-style: none;
}

span.shift {
  float: right !important;
}

#main-cont-cashier {
  background: #FFFFFF;
  border: 1px solid $clr-lighter-midtone-gray;
  padding-top: 12px;
  padding-bottom: 12px;
}

.shift-cont {
  min-width: 250px;
  max-width: 250px;
}

.form-cont {
  overflow: hidden;
}

input, select {
  width: 100%;
}

.styled-select select {
  background: transparent;
  color: $clr-gray;
  option {
    color: #000;
    font-weight: bold;
  }
}

/* modal button */
.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    margin-left: 24px;
  }
}

.busy {
  background: $clr-light-midtone-gray !important;
  border: none;
}

.err {
  p {
    color: $clr-red;
  }
}
