<clr-modal [(clrModalOpen)]="remModalIsOpen">
  <h3 class="modal-title">Delete shift</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete this shift?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeRemModal()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onDeleteShift()">Delete</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalIsOpen">
  <h3 class="modal-title">Add New Cashier</h3>
  <div class="modal-body">
    <p>Select a cashier from the list</p>
    <form #newCashier="ngForm" (ngSubmit)="onSubmitNewShift(newCashier.value)">
      <div class="select">
        <div class="styled-select">
          <select #csh name="cashier" ngModel id="selects_1">
            <option value="">Select Cashier Employee</option>
            <option *ngFor="let cashier of (settings$ | async)?.cashiers" [ngValue]="cashier._id_">
              {{cashier.name}} {{cashier.surname}}
            </option>
          </select>
        </div>
      </div>
      <p>Enter shift number for selected cashier</p>
      <input class="mt12" name="shift_number" ngModel><br>
      <button [disabled]="!csh.value" class="btn btn-success mt24 submit-button" [class.busy]="loading">
        {{ loading ? 'Adding...' : 'Add' }}
        <span *ngIf="loading" class="spinner spinner-sm">
        </span>
      </button>
      <div *ngIf="error" class="err">
        <p>There was a problem adding a new cashier. Please try again or contact support.</p>
        <p>Error code: {{ errorObj.status }} | {{ errorObj.statusText }}</p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger-outline" (click)="modalIsOpen = false">Cancel</button>
  </div>
</clr-modal>


<div id="main-cont-cashier" class="row">
  <div class="col-xs shift-cont">

    <div class="row mb12">
      <div class="col-xs-12 add-new bttn">
        <button (click)="openModal()" class="btn btn-success btn-sm">+ Add Shift</button>
      </div>
    </div>

    <clr-stack-view *ngIf="(shiftSummary$ | async)?.length" id="cashier-stack">

      <daccs-shift-item *ngFor="let shift of shiftSummary$ | async; let i = index"
                        (confirmDel$)="openRemModal($event)"
                        [dynRoute]="getDynRoute(dynRoute)"
                        [summary]="shift"
                        [name]="shift.name"
                        [shiftGivenID]="shift?.shift_number"
                        [shift_Id_]="shift._id_"
                        [shiftId]="shift.id">
      </daccs-shift-item>

    </clr-stack-view>

  </div>

  <div class="col-xs form-cont">

    <div class="nav-btn-group">
      <div class="btn-group">
        <a [routerLink]="['sales', currShiftIndex]" [ngClass]="{'btn-primary': getActive('/sales/')}" class="btn">
          Sales
        </a>
        <a [routerLink]="['cash-payouts', currShiftIndex]" [ngClass]="{'btn-primary': getActive('/cash-payouts/')}"
           class="btn">
          Cash Payouts
        </a>
        <a [routerLink]="['cash-payins', currShiftIndex]" [ngClass]="{'btn-primary': getActive('/cash-payins/')}"
           class="btn">
          Cash Payins
        </a>
        <a [routerLink]="['received-on-account', currShiftIndex]"
           [ngClass]="{'btn-primary': getActive('/received-on-account/')}"
           class="btn">
          Rec On Acc
        </a>
        <a [routerLink]="['account-sales', currShiftIndex]" [ngClass]="{'btn-primary': getActive('/account-sales/')}"
           class="btn">
          Account Sales
        </a>
        <a [routerLink]="['deposits']" [ngClass]="{'btn-primary': getActive('/deposits/')}" class="btn">
          Deposits
        </a>
        <a [routerLink]="['float-control', currShiftIndex]" [ngClass]="{'btn-primary': getActive('/float-control/')}"
           class="btn">
          Float
        </a>
        <a [routerLink]="['shorts', currShiftIndex]" [ngClass]="{'btn-primary': getActive('/shorts/')}" class="btn">
          Shorts
        </a>
      </div>
    </div>

    <router-outlet></router-outlet>


  </div>
</div>
