@import "../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

h2 {
  display: flex;
  align-items: center;
  .load {
    margin-left: 24px;
    width: 24px;
    height: 24px;
  }
}
