<div class="row">
  <div class="col-xs-12">
    <h2>Recon History <span *ngIf="loading" class="spinner spinner-inline load">Loading...</span></h2>
  </div>
</div>

<div class="row mb24">
  <div class="col-xs-2"><p class="p4">Created By:</p></div>
  <div class="col-xs-2"><p class="p4">Completed By:</p></div>
  <div class="col-xs-2"><p class="p4">Created On:</p></div>
  <div class="col-xs-2"><p class="p4">Recon Date:</p></div>
  <div class="col-xs-2"><p class="p4">Complete?</p></div>
  <div class="col-xs-2"></div>
</div>

<daccs-recon-history-item *ngFor="let itm of histItems; let isOdd=odd; let isEven=even"
                          (deleteHistItm$)="openRemModal($event)"
                          [histItm]="itm"
                          [even]="isEven"
                          [odd]="isOdd"></daccs-recon-history-item>

<clr-modal class="config-rem-modal" [(clrModalOpen)]="remModalIsOpen">
  <h3 class="modal-title">Delete Recon?</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete this recon item?</p>
    <p><strong>This action can not be undone!</strong></p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-outline" (click)="closeRemModal()">Cancel</a>
    <button type="button" class="btn btn-danger" (click)="onDeleteItem()">Delete</button>
  </div>
</clr-modal>
