<div class="row section-header">
  <div class="col-xs-12 section-title">
    <h2>Setup General Ledger Items <span *ngIf="loading" class="spinner spinner-inline load">Loading...</span></h2>
  </div>
</div>


<div class="row mt24">
  <div class="col-xs-12">
    <h5 class="new">Create new ledger item: </h5>
  </div>
</div>

<form [formGroup]="genLedgerAddForm" class="row form-group" (ngSubmit)="onAddGenLedger(genLedgerAddForm.value)">
  <div class="col-xs-3">
    <input formControlName="title">
  </div>
  <div class="col-xs-3">
    <input formControlName="code">
  </div>
  <div class="col-xs-4">
    <div class="select">
      <select formControlName="ledger_type">
        <option [disabled]="true" [selected]="true">Select GL Type</option>
        <option *ngFor="let o of glTypes"
                [ngValue]="o.value">
          {{ o.title}}
        </option>
      </select>
    </div>
  </div>
  <div class="col-xs-2 tac">
    <div class="row">
      <div class="col-xs-6">
        <button [disabled]="!genLedgerAddForm.valid || genLedgerAddForm.pristine" *ngIf="!busy; else busyBtn"
                class="btn btn-success btn-sm" data-tooltip="Confirm">
          <clr-icon shape="check" size="16"></clr-icon>
        </button>
      </div>
      <div class="col-xs-6">
      </div>
    </div>
  </div>
</form>

<div class="row form-group">
  <div class="col-xs">
    <p class="p4">Title</p>
  </div>
  <div class="col-xs">
    <p class="p4">Code</p>
  </div>
  <div class="col-xs">
    <p class="p4">Ledger Type</p>
  </div>
  <div class="col-xs tac">
  </div>
</div>

<div *ngIf="genLedgers$ | async">
  <daccs-gen-ledger-item
    *ngFor="let genLedger of (genLedgers$ | async ) | multiOrder : ['-site', 'code', 'ledger_type', 'title', 'industry']"
    [genLedger]="genLedger"></daccs-gen-ledger-item>
</div>


<ng-template #busyBtn>
  <button class="btn btn-success btn-sm btn-busy">
    <span class="spinner spinner-inline">
            Loading...
          </span>
  </button>
</ng-template>
