<div class="row headers tar">
  <div class="col-xs">
    <p class="p4">Term/Description</p>
  </div>
  <div class="col-xs">
    <p class="p4">Term/Batch No.</p>
  </div>
  <div class="col-xs">
    <p class="p4">Amount Cashiers</p>
  </div>
  <div class="col-xs">
    <p class="p4">Terminal Batch Totals</p>
  </div>
  <div class="col-xs">
    <p class="p4">Discrepancy</p>
  </div>
  <div class="col-xs">
    <p class="p4">Difference</p>
  </div>
  <div class="col-xs">
    <p class="p4">Adjusted Total</p>
  </div>
  <div class="col-xs tac"><p class="p4">Delete</p></div>
</div>

<div class="overlay" [class.busy]="busy$ | async">
  <img class="busySpin" *ngIf="busy$ | async" [src]="loaderImg" alt="Busy">

  <form (keydown.enter)="$event.preventDefault()" [formGroup]="depSpeedpointForm"
        (ngSubmit)="onSubmit(depSpeedpointForm.value)">

    <div *ngFor="let control of getFormArrayControls(depSpeedpointForm, 'speedpoint_deposits'); let i = index">

      <daccs-form-deposits-speedpoint-row
        (rowDeleted)="delInputRow(i)"
        [arrForm]="getFormArrayControls(depSpeedpointForm, 'speedpoint_deposits')[i]">

      </daccs-form-deposits-speedpoint-row>

    </div>

    <div *ngIf="totals" class="row headers">
      <div class="col-xs">
        <div class="amnt-cont">
          <span></span>
        </div>
      </div>
      <div class="col-xs">
        <div class="total-txt">
          <h4>Totals: </h4>
        </div>
      </div>
      <div class="col-xs total-amnt">
        <div class="amnt-cont">
          <h4>R {{ totals.amount_cashiers | number:'.2-2' }}</h4>
        </div>
      </div>
      <div class="col-xs total-amnt">
        <div class="amnt-cont">
          <h4>R {{ totals.amount | number:'.2-2' }}</h4>
        </div>
      </div>
      <div class="col-xs total-amnt">
        <div class="amnt-cont">
          <h4>R {{ totals.discrepancy | number:'.2-2' }}</h4>
        </div>
      </div>
      <div class="col-xs total-amnt">
        <div class="amnt-cont">
          <h4>R {{ totals.amount - totals.amount_cashiers + totals.discrepancy | number:'.2-2' }}</h4>
        </div>
      </div>
      <div class="col-xs total-amnt">
        <div class="amnt-cont">
          <h4>R {{ totals.amount + totals.discrepancy | number:'.2-2' }}</h4>
        </div>
      </div>
      <div class="col-xs">
        <div class="amnt-cont">
          <span></span>
        </div>
      </div>
    </div>

    <button [disabled]="(conbroken$ | async)?.broken
                        || !depSpeedpointForm.valid
                        || depSpeedpointForm.pristine
                        || (mainRecon$|async)?.complete"
            class="btn btn-primary mt48">Submit
    </button>
    <br>
    <span class="is-complete-msg" *ngIf="(mainRecon$|async)?.complete">* This Recon is marked as complete and cannot be submitted.</span>
  </form>
</div>

