<table class="table table-compact">
  <thead>
  <tr>
    <th class="right"></th>
    <th class="right">System</th>
    <th class="right">Explained</th>
    <th class="right">Variance</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="right">Shorts(Cashiers)</td>
    <td [@flashTransition]="shortDataShifts.system" class="right">{{ shortDataShifts.system | daccsCurrency }}</td>
    <td [@flashTransition]="shortDataShifts.explained" class="right">{{ shortDataShifts.explained | daccsCurrency }}
    </td>
    <td [@flashTransition]="cashierShorts" class="right hilite"
        [class.discr]="cashierShorts != 0">
      {{ cashierShorts | daccsCurrency }}
    </td>
  </tr>
  <tr>
    <td class="right">Shorts(EOD)</td>
    <td [@flashTransition]="shortDataEOD" class="right">
      {{ shortDataEOD | daccsCurrency }}
    </td>
  </tr>
  <tr>
    <td class="right">Grand Check</td>
    <td [@flashTransition]="shortDataEOD" class="right hilite"
        [class.discr]="grandCheck  !== 0">
      {{ grandCheck | daccsCurrency }}
    </td>
  </tr>
  </tbody>
</table>
