<div class="row">
  <div class="col-md-8 offset-md-2">

    <div class="row section-header">
      <div class="col-xs-4 section-title">
        <h2>Add User <span *ngIf="busy" class="spinner spinner-inline load"></span></h2>
      </div>
      <div class="col-xs-8">
        <a routerLink="../" class="btn btn-outline-success">
          <clr-icon shape="undo"></clr-icon>
          Back to user list
        </a>
      </div>
    </div>

    <form [formGroup]="createNewUserForm"
          (ngSubmit)="onCreateUser(createNewUserForm.value)">

      <section class="form-block">

        <div class="form-group">
          <label for="first_name">First Name: </label>
          <input formControlName="first_name" id="first_name" size="45">
        </div>

        <div class="form-group">
          <label for="last_name">Last Name: </label>
          <input formControlName="last_name" id="last_name" size="45">
        </div>

        <div class="form-group">
          <label for="designation">User Role: </label>
          <div class="select">
            <select formControlName="designation" id="designation">
              <option [disabled]="true" [selected]="true">Select User Role: *</option>
              <option *ngFor="let role of roles" [value]="role.id">{{role.title}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="site">Site:</label>
          <div class="select">
            <select formControlName="site" id="site">
              <option [disabled]="true" [selected]="true">Select Site</option>
              <option *ngFor="let site of (sites$ | async)" [value]="site.id">{{site.title}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="mobile_number">Contact number: </label>
          <input formControlName="mobile_number" id="mobile_number" size="45">
        </div>

        <div class="form-group">
          <label for="email">Email:* </label>
          <input [class.req]="createNewUserForm.get('email').invalid
          && !createNewUserForm.get('email').pristine"
                 [placeholder]="(createNewUserForm.get('email').invalid
          && !createNewUserForm.get('email').pristine) ? 'This field is required' : ''"
                 formControlName="email"
                 id="email" size="45">
        </div>

        <button *ngIf="!busy; else busyBtn" [disabled]="!createNewUserForm.valid || createNewUserForm.pristine"
                class="btn btn-primary">
          CREATE
        </button>

        <ng-template #busyBtn>
          <button class="btn btn-busy">
            <span class="busy-txt">CREATING...</span>
            <span class="spinner spinner-inline"></span>
          </button>
        </ng-template>

      </section>
    </form>

  </div>
</div>
