@import "../../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.row {
  padding-top: 6px;
  padding-bottom: 6px;
}

.itm {
  display: flex;
  align-items: center;
}

.even {
  background: $clr-lighter-midtone-gray;
}

.del-row {
  justify-content: center;
}

.itm-cont {
  height: 30px;
}

.btn-busy {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $clr-action-blue-lightest !important;
}
