<div id="form-array" [formGroup]="arrForm" class="row form-group">

  <div *ngFor="let field of reconItemFields; let i = index"
       [style.width]="field.width === 2 ? 2 * colPercent + '%' : colPercent + '%'"
       class="cust-col">

    <daccs-ng-select
      *ngIf=" field.inputType===  'select'"
      [maxHeight]="300"
      [custKey]="'_id_'"
      [formControlName]="field.name "
      [options]="selectValues[i].choices">
    </daccs-ng-select>

    <!--todo: cant set the field type dynamically? number turns to text etc-->
    <input *ngIf="field.inputType === 'input' && field.fieldType === 'number'" [formControlName]="field.name"
           class="full-input"
           type="number">
    <input *ngIf="field.inputType === 'input' && field.fieldType === 'text'" [formControlName]="field.name"
           class="full-input"
           [attr.maxlength]="field.maxLen ? field.maxLen: ''"
           (focus)="$event.target.select()"
           daccsDecCurrFormatter
           decimalPlaces="2"
           [onlyNumber]="field.currency"
           minValue="-999999999.00"
           maxValue="999999999.00"
           [ngClass]="{'money': field.currency}"
           type="text">

    <span class="invalid-tip" *ngIf="arrForm.controls[field.name].invalid">* Required</span>

  </div>
  <div class="cust-col delete-col" [style.width]="colPercent + '%'">
    <clr-icon (click)="onDelete()" shape="times" class="is-error delete-row"></clr-icon>
  </div>
</div>
