@import "../../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.cust-col {
  padding-left: 12px;
  padding-right: 12px;
}

select {
  width: 100%;
  min-width: 60px;
}

select, option {
  width: 400px;
}

.delete-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invalid-tip {
  pointer-events: none;
  color: $clr-red-light !important;
  position: absolute !important;
  top: 0;
  padding-left: 12px;
  font-size: 12px;
}

.ng-invalid:not(.ng-pristine) {
  border-color: $clr-red-light !important;
}
