@import "../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.no-diff {
  color: $clr-green;
}

.diff {
  color: $clr-red;
}

.cont {
  display: flex;
}

.warn-cont {
  display: flex;
  flex-direction: column;
  span {
    line-height: 24px;
  }
}

.warn {
  color: $clr-red-light-midtone;
  font-size: 16px !important;
}

.busy *:not(.submit-warn) {
  opacity: 0.5;
  z-index: 9999;
}

.overlay {
  position: relative;
}

img.busySpin {
  margin-top: 48px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 96px;
}
