<div class="overlay" [class.busy]="busy$ | async">
  <img class="busySpin" *ngIf="busy$ | async" [src]="loaderImg" alt="Busy">

  <form *ngIf="shortsOversData" [formGroup]="shortsOversReconForm"
        (keydown.enter)="$event.preventDefault()"
        (ngSubmit)="onSubmit(shortsOversReconForm.value)">

    <div class="row">
      <div class="col-xs-2"><p class="p4">Ref Number</p></div>
      <div class="col-xs-6"><p class="p4">Description</p></div>
      <div class="col-xs-2"><p class="p4">Amount</p></div>
      <div class="col-xs-2"><p class="p4">Delete</p></div>
    </div>

    <div *ngFor="let control of getFormArrayControls(shortsOversReconForm, 'shorts'); let i = index">

      <daccs-form-shorts-overs-field
        (rowDeleted)="delPackageInput(i)"
        [arrForm]="getFormArrayControls(shortsOversReconForm, 'shorts')[i]">
      </daccs-form-shorts-overs-field>

    </div>

    <button type="button" (click)="addInputRow()" class="btn btn-sm add-row">
      <clr-icon shape="add" size="16"></clr-icon>
      Add new row
    </button>

    <div class="row">
      <div class="col-xs-8">
        <h5 class="form-total">Total Shorts & Overs: </h5>
      </div>
      <div class="col-xs-2">
        <h5 class="form-total">{{ systemShortsOvers | daccsCurrency }}</h5>
      </div>
      <div class="col-xs-2">

      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <h5 class="form-total">Explained Shorts & Overs: </h5>
      </div>
      <div class="col-xs-2">
        <h5 class="form-total">{{ getIsNan(rollingAmmount) | daccsCurrency }}</h5>
      </div>
      <div class="col-xs-2">

      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <h5 class="form-total" [ngClass]="(shortsDiscrep === 0)  ? 'no-diff' : 'diff'">
          Discrepancy(Unexplained): </h5>
      </div>
      <div class="col-xs-2">
        <h5 class="form-total"
            [ngClass]="(shortsDiscrep === 0) ? 'no-diff' : 'diff'">
          {{ getIsNan(systemShortsOvers - rollingAmmount) | daccsCurrency }}
        </h5>
      </div>
      <div class="col-xs-2">

      </div>
    </div>

    <div class="button-cont mt48">
      <!--!(shortsDiscrep === 0) is like that to account for a possible -0 value-->
      <button
        [disabled]="(conbroken$ | async)?.broken
        || !(shortsDiscrep === 0)
        || shortsOversReconForm.pristine
        || (mainRecon$|async)?.complete
        || shortsOversReconForm.invalid"
        class="btn btn-primary">Submit
      </button>
      <div class="warn-cont">
      <span class="warn"
            [@fadeInOut]
            *ngIf="shortsOversReconForm.invalid">* Please ensure all required fields are completed.</span>
        <span class="warn"
              [@fadeInOut]
              *ngIf="(!(shortsDiscrep === 0) && !(mainRecon$|async)?.complete)">* Discrepancy must be zero before submitting</span>
      </div>
    </div>

    <span class="is-complete-msg" *ngIf="(mainRecon$|async)?.complete">* This Recon is marked as complete and cannot be submitted.</span>

  </form>
</div>
