<div class="row">
  <div class="col-xs-12">

    <div class="nav-btn-group">
      <div class="btn-group">
        <a *ngFor="let itm of (EODData$ | async)?.sales"
           [routerLink]="['itm', itm._id_]"
           routerLinkActive="btn-primary"
           class="btn">
          {{ itm.title | titleCase }}
        </a>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>
