<div *ngIf="!fresh; else new">
  <div [@routerTransition]="shiftId" *ngIf="shiftObject && sectionURL && (settings$ | async ) && shiftArr"
       [ngSwitch]="sectionURL">

    <div *ngSwitchCase="'sales'">
      <daccs-form-sales-recon
        (dirtySalesForm)="setFormDirty($event)"
        [shiftId]="shiftId"
        [mongoId]="mongoId"
        [salesData]="reconItemData">
      </daccs-form-sales-recon>
    </div>

    <div *ngSwitchCase="'shorts'">
      <daccs-form-shorts-overs-recon
        (dirtyShortsOversForm)="setFormDirty($event)"
        [mongoId]="mongoId"
        [shortsOversData]="reconItemData" [systemShortsOvers]="systemShortsOvers">
      </daccs-form-shorts-overs-recon>
    </div>

    <div *ngSwitchCase="'float-control'">
      <daccs-form-float-control (dirtyShortsOversForm)="setFormDirty($event)"
                                [mongoId]="mongoId"
                                [floatControlData]="reconItemData">
      </daccs-form-float-control>
    </div>


    <daccs-form-core
      *ngSwitchDefault
      (dirtyForm)="setFormDirty($event)"
      [genLedgers]="(settings$ | async )?.general_ledgers"
      [suppliers]="(settings$ | async )?.suppliers"
      [accHolders]="(settings$ | async )?.account_holders"
      [vatCodes]="(settings$ | async )?.vat_codes"
      [recAccDesc]="(settings$ | async )?.received_on_account_descriptions"
      [speedPointTerms]="(settings$ | async )?.speedpoint_terminals"
      [mongoId]="mongoId"
      [shiftId]="shiftId"
      [reconItemFields]="reconItemFields"
      [reconItemName]="sectionURL"
      [reconItemData]="reconItemData">
    </daccs-form-core>

  </div>
</div>

<ng-template #new>
  <div class="row">
    <div class="col-xs-12 tac mt48 mb48">
      <h1>No cashier shifts have been loaded for this date.</h1>
      <p>Click below to add a new shift </p>
      <button (click)="newShiftButton()" class="btn btn-success mt24 mb48">Add Shift</button>
    </div>
  </div>
</ng-template>
