<div class="row section-header mb12">
  <div class="col-xs-12 section-title">
    <h4>Company Notifications</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-3"><p class="p4">User:</p></div>
  <div class="col-xs-3"><p class="p4">Email:</p></div>
  <div class="col-xs-3"><p class="p4">Mobile:</p></div>
  <div class="col-xs-1"><p class="p4">Newsletter:</p></div>
  <div class="col-xs-2"></div>
</div>

<daccs-company-notifications-item *ngFor="let companyNotifyItem of companyNotifyData; let isOdd=odd; let isEven=even"
                                  [even]="isEven"
                                  [odd]="isOdd"
                                  [userList]="userList"
                                  [companyNotifyItem]="companyNotifyItem"></daccs-company-notifications-item>

<div class="row mb12">
  <div class="col-xs-12">
    <h6 class="new">Add new company notification: </h6>
  </div>
</div>
<form #f="ngForm" (ngSubmit)="onSubmitNew(f.value)" novalidate class="row add-new-cont">
  <div class="col-xs-3 itm">
    <select [(ngModel)]="userId"
            (ngModelChange)="onModelChanged($event)"
            name="user">
      <option value="">-- Please select user --</option>
      <option *ngFor="let user of userList"
              [ngValue]="user.id">
        {{ user.full_name}}
      </option>
    </select>
  </div>
  <div *ngIf="userId" class="col-xs-3 itm">{{ selectedUser?.email }}</div>
  <div *ngIf="userId" class="col-xs-3 itm">{{ selectedUser?.mobile_number }}</div>
  <div *ngIf="userId" class="col-xs-1 itm">
    <div class="toggle-switch">
      <input
        [(ngModel)]="companyNotifObj.newsletter"
        name="newsletter_email"
        type="checkbox"
        id="toggle_newsletter">
      <label for="toggle_newsletter"></label>
    </div>
  </div>
  <div *ngIf="userId" class="col-xs-2 itm del-row">
    <button [disabled]="" *ngIf="!busy; else busyBtn"
            class="btn btn-success btn-sm">
      <clr-icon shape="check" size="16"></clr-icon>
    </button>
  </div>
</form>

<ng-template #busyBtn>
  <button class="btn btn-success btn-sm btn-busy">
    <span class="spinner spinner-inline">
            Loading...
          </span>
  </button>
</ng-template>
