@import "../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.section-title h4 {
  text-align: center;
  width: 210px;
  margin: 0;
  background: $clr-action-blue;
  color: $clr-white;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
}

.p4 {
  margin: 0;
}

.new {
  margin: 0;
  background: $clr-green;
  color: $clr-white;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
}

.itm {
  display: flex;
  align-items: center;
}

.del-row {
  justify-content: center;
}

.btn-busy {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $clr-lighter-midtone-gray !important;
  border-color: $clr-light-midtone-gray !important;
  &:active {
    border: none !important;
    box-shadow: none !important;
  }
}

.add-new-cont {
  background: $clr-action-blue-lightest;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0;
}

select {
  min-width: inherit;
  width: 100%;
  background: $clr-white;
}

.new {
  margin-top: 6px;
  background: $clr-green;
  color: $clr-white;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
}
