<clr-modal class="config-rem-modal" [(clrModalOpen)]="remModalIsOpen">
  <h3 class="modal-title">Complete Recon?</h3>
  <div class="modal-body">
    <p>Are you sure you want to complete recon for {{ mainRecon.date | prettyDate }}?</p>
    <p>You can view completed recons in the <a routerLink="/recon-history">'Daily Recon / History'</a></p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-outline" (click)="closeRemModal()">Cancel</a>
    <button type="button" class="btn btn-success" (click)="closeOffRecon(mainRecon.recon_id)">Complete</button>
  </div>
</clr-modal>

<div *ngIf="EODData; else problem" class="row">

  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        <daccs-gen-header *ngIf="depositData" [dataArr]="depositData"></daccs-gen-header>
      </div>
      <div class="col-xs-12 mt6">
        <daccs-gen-header *ngIf="salesDataArr" [dataArr]="salesDataArr"></daccs-gen-header>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        <daccs-gen-header *ngIf="reconData" [hideTotals]="true" [dataArr]="reconData"></daccs-gen-header>
      </div>
      <div class="col-xs-12 mt6">
        <daccs-shorts-header *ngIf="shortDataShifts"
                             (grandVariance$)="handleVarianceCheck($event)"
                             [discTally]="discrepTally"
                             [shortDataEOD]="shortDataEOD"
                             [shortDataShifts]="shortDataShifts">
        </daccs-shorts-header>
      </div>

      <div *ngIf="grandVar" class="col-xs-12 tac close-recon">

        <div *ngIf="!mainRecon.complete; else complete" class="row">
          <div class="col-xs-6 stat-text">
            <span>Recon Status: {{ reconValid ? 'Open' : 'Invalid' }}</span>
          </div>

          <div class="col-xs-6">
            <button [disabled]="!reconValid" (click)="this.openRemModal($event)"
                    class="btn btn-sm btn-success closer" [class.loading]="loading">
              <span>{{ loading ? 'Closing..': 'Close this recon' }}</span>
              <span *ngIf="loading" class="spinner spinner-inline load"></span>
            </button>
          </div>


          <div *ngIf="!reconValid" class="col-xs-12 close-issues mt12">
            <p *ngIf="grandVar.vr != 0">
              <clr-icon class="is-solid" shape="exclamation-circle"></clr-icon>
              Variance must be a zero value before recon can be closed
            </p>
            <p *ngIf="grandVar.gc != 0">
              <clr-icon class="is-solid" shape="exclamation-circle"></clr-icon>
              Grand Check must be a zero value before recon can be closed
            </p>
          </div>


        </div>

        <ng-template #complete>
          <div class="row">
            <div class="col-xs-6 stat-text">
              <span>Recon Status: CLOSED.</span>
            </div>
            <div class="col-xs-6 tal">
              <clr-icon size="48" class="is-success" shape="lock"></clr-icon>
            </div>
          </div>
        </ng-template>

      </div>

    </div>
  </div>

</div>

<ng-template #problem>
  <div class="row">
    <div class="col-xs-12">
      <h3>Connection or Data error. Please refresh your page or contact support</h3>
    </div>
  </div>
</ng-template>
