@import "../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

#live-header {
  margin-bottom: 24px;
}

.close-recon {
  position: absolute;
  bottom: 0;
}

.closer {
  display: flex;
  align-items: center;
  height: 30px;
  .spinner {
    margin-left: 24px;
  }
}

.close-issues {
  text-align: center;
  display: inline;
  p {
    margin: 0;
    color: $clr-red-dark;
  }
}

.loading {
  background-color: $clr-lighter-midtone-gray !important;
  border-color: $clr-light-midtone-gray !important;
}

.stat-text {
  display: flex;
  align-items: center;
  span {
    margin-left: auto;
  }
}
