daccs-ng-select {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 24px;
  margin: 6px 0;

  span.opt {
    margin: 0;
  }

  * {
    box-sizing: border-box;
    font-family: Sans-Serif;
  }

  // Container.
  > div {
    border: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    width: 100%;

    &.open {

    }

    &.focus {

    }

    &.below {
      height: 24px;
    }

    &.disabled {
      background-color: #eee;
      color: #aaa;
      cursor: default;
      pointer-events: none;
    }

    > div.single {
      display: flex;
      height: 24px;
      width: 100%;

      > div.value,
      > div.placeholder {
        flex: 1;
        line-height: 24px;
        overflow: hidden;
        padding: 0 10px;
        white-space: nowrap;
        .fr-logo {
          display: none;
        }
      }

      > div.placeholder {
        color: #757575;
      }

      > div.clear,
      > div.toggle {
        color: #aaa;
        line-height: 24px;
        text-align: center;
        width: 30px;

        &:hover {
          background-color: #ececec;
        }
      }

      > div.clear {
        font-size: 18px;
      }

      > div.toggle {
        font-size: 14px;
      }
    }

    > div.multiple {
      display: flex;
      flex-flow: row wrap;
      height: 100%;
      min-height: 30px;
      padding: 0 10px;
      width: 100%;

      > div.option {
        background-color: #eee;
        border: 1px solid #aaa;
        border-radius: 4px;
        color: #333;
        cursor: default;
        display: inline-block;
        flex-shrink: 0;
        font-size: 14px;
        line-height: 22px;
        margin: 3px 5px 3px 0;
        padding: 0 4px;

        span.deselect-option {
          color: #aaa;
          cursor: pointer;
          font-size: 14px;
          height: 20px;
          line-height: 20px;

          &:hover {
            color: #555;
          }
        }
      }

      input {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 24px;
        line-height: 24px;
        padding: 0;

        &:focus {
          outline: none;
        }
      }
    }
  }

  // Label.
  label {
    color: rgba(0, 0, 0, 0.38);
    display: block;
    font-size: 13px;
    padding: 4px 0;
  }

}

daccs-ng-select.sites {
  .below {
    border: none;
  }
  span.opt {
    letter-spacing: 2px;
  }
}
