@import "../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

daccs-select-dropdown {

  box-sizing: border-box;
  font-family: Sans-Serif;

  span {
    white-space: nowrap;
  }

  li {
    color: #565656;
  }

  * {
    box-sizing: border-box;
    font-family: Sans-Serif;
  }

  > div {
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;

    .filter {
      padding: 3px;
      width: 100%;

      input {
        border: 1px solid #eee;
        box-sizing: border-box;
        padding: 4px;
        width: 100%;
      }
    }

    .options {
      overflow-y: auto;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 4px 8px;
          cursor: pointer;
          user-select: none;
        }
      }
    }
  }

  .selected {
    background-color: #e0e0e0;

    &.highlighted {
      background-color: #2196F3;
      color: #fff;
    }
  }

  .highlighted {
    background-color: #2196F3;
    color: #fff;
  }

  .disabled {
    background-color: #fff;
    color: #9e9e9e;
    cursor: default;
    pointer-events: none;
  }
}
daccs-select-dropdown > div {
  top: 35px;
}
