<div
  class="drop-cont"
  [ngStyle]="{'left.px': left, 'width.px': longestSpan+48}">

  <div class="filter"
       *ngIf="!multiple && filterEnabled">
    <input
      #filterInput
      autocomplete="off"
      [placeholder]="placeholder"
      (click)="onSingleFilterClick()"
      (input)="onSingleFilterInput($event)"
      (keydown)="onSingleFilterKeydown($event)"
      (focus)="onSingleFilterFocus()">
  </div>

  <div class="options"
       [style.max-height]="maxHeight + 'px'"
       (click)="onOptionsListClick()"
       #optionsList>
    <ul
      (wheel)="onOptionsWheel($event)">
      <li *ngFor="let option of optionList.filtered"
          [ngClass]="{'highlighted': option.highlighted, 'selected': option.selected, 'disabled': option.disabled}"
          [ngStyle]="getOptionStyle(option)"
          (click)="onOptionClick(option)"
          (mouseover)="onOptionMouseover(option)">
        <ng-template [ngTemplateOutletContext]="{option: option.wrappedOption}"
                     [ngTemplateOutlet]="optionTemplate"></ng-template>
        <span #spn *ngIf="!optionTemplate">{{option.label}}</span>
      </li>
      <li
        *ngIf="!optionList.hasShown"
        class="message">
        {{notFoundMsg}}
      </li>
    </ul>
  </div>
</div>
