<div class="row section-header">
  <div class="col-xs-12 section-title">
    <h2>Setup Suppliers <span *ngIf="loading" class="spinner spinner-inline load">Loading...</span></h2>
  </div>
</div>

<div class="row mt24">
  <div class="col-xs-12">
    <h5 class="new">Create new supplier </h5>
  </div>
</div>

<form [formGroup]="supplierAddForm" class="row form-group" (ngSubmit)="onAddSupplier(supplierAddForm.value)">
  <div class="col-xs">
    <input formControlName="title">
  </div>
  <div class="col-xs">
    <input formControlName="code">
  </div>
  <div class="col-xs tac">
    <div class="row">
      <div class="col-xs-6">
        <button [disabled]="!supplierAddForm.valid || supplierAddForm.pristine" *ngIf="!busy; else busyBtn"
                class="btn btn-success btn-sm" data-tooltip="Confirm">
          <clr-icon shape="check" size="16"></clr-icon>
        </button>
      </div>
      <div class="col-xs-6">
      </div>
    </div>
  </div>
</form>

<div class="row form-group">
  <div class="col-xs">
    <p class="p4">Title</p>
  </div>
  <div class="col-xs">
    <p class="p4">Code</p>
  </div>
  <div class="col-xs tac">
  </div>
</div>

<div *ngIf="suppliers$ | async">
  <daccs-supplier-item *ngFor="let supplier of (suppliers$ | async ) | orderBy:'_id_'"
                       [supplier]="supplier"></daccs-supplier-item>
</div>

<ng-template #busyBtn>
  <button class="btn btn-success btn-sm btn-busy">
    <span class="spinner spinner-inline">
            Loading...
          </span>
  </button>
</ng-template>
