<div class="overlay" [class.busy]="busy$ | async">
  <img class="busySpin" *ngIf="busy$ | async" [src]="loaderImg" alt="Busy">

  <form *ngIf="reconItemName" [formGroup]="reconItemForm"
        (ngSubmit)="onSubmit(reconItemForm.value)">
    <section class="form-block">

      <div class="row">
        <div class="col-xs-3 offset-xs-3">
          <h5><label for="amnt">{{ reconItemName | unslug }}</label></h5>
        </div>
        <div class="col-xs-3">
          <input
            formControlName="amount"
            #focusAmnt
            (keydown.enter)="processEnter($event, focusDisc)"
            (focus)="$event.target.select()"
            class="money"
            daccsDecCurrFormatter
            decimalPlaces="2"
            [onlyNumber]="true"
            minValue="-999999999.00"
            maxValue="999999999.00"
            type="text" id="amnt">
        </div>
      </div>

      <div class="row mt12">
        <div class="col-xs-3 offset-xs-3">
          <h5><label for="amnt">Discrepancy: </label></h5>
        </div>
        <div class="col-xs-3">
          <input
            formControlName="discrepancy"
            #focusDisc
            (keydown.enter)="processEnter($event, focusAmnt)"
            (focus)="$event.target.select()"
            class="money"
            daccsDecCurrFormatter
            decimalPlaces="2"
            [onlyNumber]="true"
            minValue="-999999999.00"
            maxValue="999999999.00"
            type="text" id="discrepancy">
        </div>
      </div>

      <div class="row mt24 adj">
        <div class="col-xs-3 offset-xs-3">
          <h5><label for="amnt">Adjusted Total: </label></h5>
        </div>
        <div class="col-xs-3">
          <h5 class="adjusted">R {{ adjustedTotal | number:'.2-2'}}</h5>
        </div>
      </div>

    </section>

    <button [disabled]="(conbroken$ | async)?.broken
                        || !reconItemForm.valid
                        || reconItemForm.pristine
                        || (mainRecon$|async)?.complete"
            class="btn btn-primary">Submit
    </button>
    <br>
    <span class="is-complete-msg" *ngIf="(mainRecon$|async)?.complete">* This Recon is marked as complete and cannot be submitted.</span>
  </form>
</div>
