<div class="row">
  <div class="col-xs-12">

    <div class="nav-btn-group">
      <div class="btn-group">
        <a [ngClass]="{'btn-primary': getActive('cash-deposits')}"
           [routerLink]="['cash-deposits', currShiftIndex]" class="btn">
          Cash
        </a>
        <a [ngClass]="{'btn-primary': getActive('cash-on-hand-deposits')}"
           [routerLink]="['cash-on-hand-deposits', currShiftIndex]" class="btn">
          Cash On Hand
        </a>
        <a [ngClass]="{'btn-primary': getActive('speedpoint-deposits')}"
           [routerLink]="['speedpoint-deposits', currShiftIndex]" class="btn">
          Speedpoint
        </a>
        <a [ngClass]="{'btn-primary': getActive('check-deposits')}"
           [routerLink]="['check-deposits', currShiftIndex]" class="btn">
          Cheque
        </a>
        <a [ngClass]="{'btn-primary': getActive('snapscan-deposits')}"
           [routerLink]="['snapscan-deposits', currShiftIndex]" class="btn">
          SnapScan
        </a>
        <a [ngClass]="{'btn-primary': getActive('zapper-deposits')}"
           [routerLink]="['zapper-deposits', currShiftIndex]" class="btn">
          Zapper
        </a>
        <a [ngClass]="{'btn-primary': getActive('voucher-deposits')}"
           [routerLink]="['voucher-deposits', currShiftIndex]" class="btn">
          Voucher
        </a>
        <a [ngClass]="{'btn-primary': getActive('wigroup-deposits')}"
           [routerLink]="['wigroup-deposits', currShiftIndex]" class="btn">
          WiGroup
        </a>
        <a [ngClass]="{'btn-primary': getActive('fuel-card')}"
           [routerLink]="['fuel-card-deposits', currShiftIndex]" class="btn">
          Fuel Card
        </a>
        <a [ngClass]="{'btn-primary': getActive('eft-deposits')}"
           [routerLink]="['eft-deposits', currShiftIndex]" class="btn">
          EFT
        </a>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>
