<div *ngIf="subCatsSorted; else loading">
  <section class="form-block">
    <div *ngFor="let subSection of subCatsSorted" class="form-group">
      <h5>{{ subSection.parent | titleCase }}</h5>
      <daccs-toggle-item *ngFor="let subCat of subSection.data | orderBy:'title'"
                         [catUrl]="'sub-category'" [catData]="subCat" [idx]="subCat._id_">
      </daccs-toggle-item>
    </div>
  </section>
</div>


<ng-template #loading>
  <h1>Loading..</h1>
</ng-template>
