<div class="row section-header">
  <div class="col-xs-12 section-title">
    <h2>Setup Speedpoint Terminals <span *ngIf="loading" class="spinner spinner-inline load">Loading...</span></h2>
  </div>
</div>

<div class="row mt24">
  <div class="col-xs-12">
    <h5 class="new">Create new speedpoint terminal </h5>
  </div>
</div>

<form [formGroup]="speedpointAddForm" class="row form-group" (ngSubmit)="onAddSupplier(speedpointAddForm.value)">
  <div class="col-xs">
    <input formControlName="terminal_number">
  </div>
  <div class="col-xs">
    <input formControlName="description">
  </div>
  <div class="col-xs tac">
    <div class="row">
      <div class="col-xs-6">
        <button [disabled]="!speedpointAddForm.valid || speedpointAddForm.pristine" *ngIf="!busy; else busyBtn"
                class="btn btn-success btn-sm" data-tooltip="Confirm">
          <clr-icon shape="check" size="16"></clr-icon>
        </button>
      </div>
      <div class="col-xs-6">
      </div>
    </div>
  </div>
</form>

<div class="row form-group">
  <div class="col-xs">
    <p class="p4">Terminal Number</p>
  </div>
  <div class="col-xs">
    <p class="p4">Description</p>
  </div>
  <div class="col-xs tac">
  </div>
</div>

<div *ngIf="speedpoints$ | async">
  <daccs-speedpoint-item *ngFor="let speedpoint of (speedpoints$ | async ) | orderBy:'_id_'"
                         [speedpoint]="speedpoint"></daccs-speedpoint-item>
</div>

<ng-template #busyBtn>
  <button class="btn btn-success btn-sm btn-busy">
    <span class="spinner spinner-inline">
            Loading...
          </span>
  </button>
</ng-template>
