<div class="row">
  <div class="col-xs-12">

    <div class="nav-btn-group">
      <div class="btn-group">
        <a [routerLink]="['cash-deposits']" routerLinkActive="btn-primary" class="btn">
          Cash
        </a>
        <a [routerLink]="['cash-on-hand-deposits']" routerLinkActive="btn-primary" class="btn">
          Cash On Hand
        </a>
        <a [routerLink]="['speedpoint-deposits']" routerLinkActive="btn-primary" class="btn">
          Speedpoint
        </a>
        <a [routerLink]="['check-deposits']" routerLinkActive="btn-primary" class="btn">
          Cheque
        </a>
        <a [routerLink]="['snapscan-deposits']" routerLinkActive="btn-primary" class="btn">
          SnapScan
        </a>
        <a [routerLink]="['zapper-deposits']" routerLinkActive="btn-primary" class="btn">
          Zapper
        </a>
        <a [routerLink]="['voucher-deposits']" routerLinkActive="btn-primary" class="btn">
          Voucher
        </a>
        <a [routerLink]="['wigroup-deposits']" routerLinkActive="btn-primary" class="btn">
          WiGroup
        </a>
        <a [routerLink]="['fuel-card-deposits']" routerLinkActive="btn-primary" class="btn">
          Fuel Card
        </a>
        <a [routerLink]="['eft-deposits']" routerLinkActive="btn-primary" class="btn">
          EFT
        </a>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>
