<div class="row section-header mb24">
  <div class="col-xs-12 section-title">
    <h2>Notifications <span *ngIf="loading" class="spinner spinner-inline load">Loading...</span></h2>
  </div>
</div>

<daccs-company-notifications *ngIf="companyNotifications$ | async" [companyNotifyData]="companyNotifications$ | async"
                             [userList]="userList$ | async"></daccs-company-notifications>

<daccs-site-notifications *ngIf="siteNotifications$ | async" [siteNotifyData]="siteNotifications$ | async"
                          [userList]="userList$ | async"></daccs-site-notifications>
