@import "../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.actions {
  display: flex;
  justify-content: flex-end;
  button {
    width: 100%;
    margin: 0;
  }
}

.green {
  color: $clr-green-dark !important;
}

.zero {
  color: $clr-dark-gray !important;
}

.busy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-inline {
  min-height: 12px;
  min-width: 12px;
  height: 12px;
  width: 12px;
}
