<clr-stack-block style="position: relative;" [ngClass]="{'is-active-cashier': getActiveShift(shiftId)}"
                 class="first-block">
  <a [routerLink]="[dynRoute, shiftId]">
    <div class="row">
      <div class="col-xs-12">{{ name }} | {{ shiftGivenID }}</div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span class="sh-head"
              [class.green]="summary.shorts < 0" [class.zero]="summary.shorts === 0">{{ summary.shorts <= 0 ? 'Overs': 'Shorts' }}</span><span
        class="sh-amnt">{{(summary.shorts | daccsCurrency) }}</span>
      </div>
    </div>
  </a>

  <clr-stack-block class="sub">
    <div class="row">
      <div class="col-xs-6 actions">
        <button (click)="openRemModal()" class="btn btn-sm btn-warning">
          <clr-icon shape="trash" class="is-solid"></clr-icon>
        </button>
      </div>
      <div class="col-xs-6 actions">
        <button (click)="toggleEditDrawer($event)" class="btn btn-sm btn-primary">
          <clr-icon shape="pencil" class="is-solid edit-shift"></clr-icon>
        </button>
      </div>
    </div>
  </clr-stack-block>

  <clr-stack-block [@enterAnimation]="editDrawerOpen" *ngIf="editDrawerOpen" class="sub edit-drawer">
    <form #f="ngForm" (ngSubmit)="updateShift(f.value, f.valid)">
      <div class="row">
        <div class="col-xs-4">
          Cashier:
        </div>
        <div class="col-xs-8">
          <select #csh name="_id_" [ngModel]="shift_Id_" id="cashierSel">
            <option *ngFor="let cashier of cashiers" [ngValue]="cashier._id_">
              {{cashier.name}} {{cashier.surname}}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          Shift No:
        </div>
        <div class="col-xs-8">
          <input name="shift_number" [ngModel]="shiftGivenID" type="text">
        </div>
      </div>
      <div class="row confirm">

        <button (click)="toggleEditDrawer($event)" class="btn btn-sm btn-danger cancel-edit">
          <clr-icon shape="times" class="is-error"></clr-icon>
        </button>
        <button *ngIf="!busy; else busyButton" [disabled]="f.pristine"
                class="btn btn-sm btn-success submit-edit">
          <clr-icon shape="check" class="is-success"></clr-icon>
        </button>
        <ng-template #busyButton>
          <button [disabled]="true" class="btn btn-sm busy">
            <span class="spinner spinner-sm spinner-inline">
              Loading...
            </span>
          </button>
        </ng-template>
      </div>
    </form>
  </clr-stack-block>

  <clr-stack-block class="sub">

    <div *ngFor="let salesItm of summary?.sales" class="row">
      <div class="col-xs-12">
        <span class="gen-head short">{{ salesItm.title | titleCase }}:</span>
        <span class="gen-amnt">{{ salesItm.amount | daccsCurrency }}</span>
      </div>
    </div>

    <hr>

    <div *ngFor="let key of tallyKeys" class="row">
      <div class="col-xs-12">
        <span class="gen-head short">{{ key | unslug }}:</span>
        <span class="gen-amnt">{{ summary[key] | daccsCurrency }}</span>
      </div>
    </div>

  </clr-stack-block>
</clr-stack-block>
