@import "../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.err-block {
  border: 1px solid $clr-lighter-midtone-gray;
  padding: 6px;
}

.hilite {
  color: $clr-green;
  font-weight: bold;
}

.discr {
  color: $clr-red;
  font-weight: bold;
}
