<table *ngIf="(totalObj | json) != '{}'; else err" class="table table-compact">
  <thead>
  <tr>
    <th class="right">Title</th>
    <th class="right">Cashiers</th>
    <th class="right">EOD</th>
    <th class="right">Diff</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let arr of metaArr, let i = index;trackBy: trackByFn">
    <td [@flashTransition]="arr[0]" class="right">{{ arr[0]| unslug }}</td>
    <td [@flashTransition]="arr[1]" class="right">{{ arr[1] | daccsCurrency }}</td>
    <td [@flashTransition]="arr[2]" class="right">{{ arr[2] | daccsCurrency }}</td>
    <td [@flashTransition]="arr[3]" class="right hilite" [class.discr]="arr[3] != 0">{{ arr[3] | daccsCurrency }}</td>
  </tr>
  <tr *ngIf="!hideTotals" class="total-row">
    <td class="right">Total:</td>
    <td [@flashTransition]="totalObj?.cashierAmount" class="right">{{ totalObj?.cashierAmount | daccsCurrency }}</td>
    <td [@flashTransition]="totalObj?.eodAmount" class="right">{{ totalObj?.eodAmount | daccsCurrency }}</td>
    <td [@flashTransition]="totalObj?.diffAmount" class="right hilite" [class.discr]="totalObj?.diffAmount != 0">
      {{ totalObj?.diffAmount | daccsCurrency }}
    </td>
  </tr>
  </tbody>
</table>

<ng-template #err>
  <div class="row">
    <div class="col-xs-12">
      <p class="err-block">
        There was an error obtaining live data. Please contact support.
        <br>
        Error:
      </p>
    </div>
  </div>
</ng-template>
