<div class="overlay" [class.busy]="busy$ | async">
  <img class="busySpin" *ngIf="busy$ | async" [src]="loaderImg" alt="Busy">

  <form (keydown.enter)="$event.preventDefault()" [formGroup]="floatControlReconForm"
        (ngSubmit)="onSubmit(floatControlReconForm.value)">

    <section class="form-block">

      <div class="row form-group">

        <div class="col-xs tac fc-title">
          Opening Float
        </div>

        <div class="col-xs float-itm">
          <input formControlName="opening_float"
                 (focus)="$event.target.select()"
                 class="money"
                 daccsDecCurrFormatter
                 decimalPlaces="2"
                 [onlyNumber]="true"
                 minValue="-999999999.00"
                 maxValue="999999999.00"
                 type="text">
          <span class="invalid-tip" *ngIf="floatControlReconForm.controls['opening_float'].invalid">* Required</span>
        </div>
      </div>

      <div class="row form-group">

        <div class="col-xs tac fc-title">
          Closing Float
        </div>

        <div class="col-xs float-itm">
          <input formControlName="closing_float"
                 (focus)="$event.target.select()"
                 class="money"
                 daccsDecCurrFormatter
                 decimalPlaces="2"
                 [onlyNumber]="true"
                 minValue="-999999999.00"
                 maxValue="999999999.00"
                 type="text">
          <span class="invalid-tip" *ngIf="floatControlReconForm.controls['closing_float'].invalid">* Required</span>
        </div>
      </div>

    </section>

    <div class="row headers">
      <div class="col-xs">
        <div class="total-txt">
          <h4>Movement: </h4>
        </div>
      </div>
      <div class="col-xs total-amnt">
        <div class="amnt-cont tal sales-total">
          <h4 class="mv-total" [class.discr]="movement !== 0">R {{ movement | number:'.2-2' }}</h4>
        </div>
      </div>
    </div>

    <div class="button-cont mt48">
      <button
        [disabled]="(conbroken$ | async)?.broken
        || !floatControlReconForm.valid
        || floatControlReconForm.pristine
        || (mainRecon$|async)?.complete"
        class="btn btn-primary">
        Submit
      </button>
      <span class="submit-warn" [class.warning-on]="floatControlReconForm.invalid">* Please ensure all required fields are completed.</span>
    </div>
    <span class="is-complete-msg" *ngIf="(mainRecon$|async)?.complete">* This Recon is marked as complete and cannot be submitted.</span>

  </form>

</div>
