@import "../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.busy *:not(.submit-warn) {
  opacity: 0.5;
  z-index: 9999;
}

h4.mv-total {
  min-width: 162px;
  text-align: right;
}

.overlay {
  position: relative;
}

img.busySpin {
  margin-top: 48px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 96px;
}

.fc-title {
  font-size: 16px;
  font-weight: bold;
}

.movement {
  display: flex;
  align-items: center;
  span {
    font-size: 14px;
    font-weight: bold;
  }
}

h4.mv-total {
  min-width: 162px;
  text-align: right;
  transition: 0.2s;
}

.discr {
  color: $clr-white !important;
  background: $clr-red !important;
}

.float-itm {
  position: relative;
}

.invalid-tip {
  pointer-events: none;
  color: $clr-red-light !important;
  position: absolute !important;
  top: 0;
  left: 12px;
  font-size: 12px;
}

.ng-invalid:not(.ng-pristine) {
  border-color: $clr-red-light !important;
}
