
<div class="login-wrapper">
  <clr-modal [(clrModalOpen)]="openWizard">
    <div class="modal-title text-center">Password Reset</div>
    <div class="modal-body text-center">
        <form class="password-reset" name="form" (ngSubmit)="resetForm.form.valid && resetPassword()" #resetForm="ngForm" novalidate>
          <div class="login-group">
            <input class="email" type="email" id="reset_email" placeholder="Reset e-mail" name="reset_email"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                   [(ngModel)]="model.reset_email" #reset_email="ngModel" required>
            <div [hidden]="!isResetError" class="error active">
              <span class="text-danger">{{ resetMessage }}</span>
            </div>
            <div [hidden]="isResetError || !resetMessage" class="reset-success">
              <span class="text-success">{{ resetMessage }}</span>
            </div>
            <div class="action-buttons">
              <button class="btn btn-primary submit-button" [class.busy]="resetting"
                      [hidden]="!isResetError && resetMessage !== ''">
              {{ resetting ? 'RESETTING...' : 'RESET' }}
              <span *ngIf="resetting" class="spinner spinner-sm"></span>
            </button>
            <button type="button" class="btn btn-outline" (click)="openWizard = false">Close</button>
            </div>
          </div>
        </form>
    </div>
  </clr-modal>
  <form class="login" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <label class="title">
      DACCS<span class="trademark">&#8482;</span><br>
      <span style="font-size: 16px;">Forecourt management&#174;</span>
    </label>
    <div class="login-group">
      <input class="email" type="email" id="email" placeholder="Email" name="email"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             [(ngModel)]="model.email" #username="ngModel" required>
      <input class="password" type="password" id="login_password" placeholder="Password" name="password"
             [(ngModel)]="model.password" #password="ngModel" required>
      <div class="checkbox">
        <input type="checkbox" id="rememberme">
        <label for="rememberme">
          Remember me
        </label>
      </div>
      <div [hidden]="!badLogin" class="error active">
        <span *ngFor="let err of loginErrs">{{ err }}</span>
      </div>
      <button class="btn btn-primary submit-button" [class.busy]="loading">
        {{ loading ? 'LOGGING IN...' : 'LOG IN' }}
        <span *ngIf="loading" class="spinner spinner-sm">
        </span>
      </button>
      <a class="signup" href="{{signUpURL}}">Sign up for an account</a>
      <a href="#" (click)="open()" class="signup">Forgot password?</a>
    </div>
  </form>

  <img [src]="logo" alt="Daccs Systems">

</div>
