@import "../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.login-wrapper {
  background: $clr-black !important;
  input {
    height: 40px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 18px;
  }
  input.ng-dirty {
    background: none !important;
  }
  input.ng-pristine.ng-invalid {
    border: 1px solid $clr-lighter-midtone-gray !important;
  }
}

img {
  height: 250px;
  width: auto;
  margin: auto;
}

.submit-button {
  background: $clr-black !important;
  border-color: $clr-black !important;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    margin-left: 24px;
  }
}

.action-buttons {
  margin: 5px auto;
  .submit-button {
    display: inline-block;
  }
  .btn-outline {
    border-color: $clr-black;
    color: $clr-black;
  }
  .btn-outline:hover {
    background: $clr-black;
    color: $clr-white;
  }
}

.busy {
  background: $clr-light-midtone-gray !important;
  border: none;
}

.password-reset {
  input {
    width: 100%;
  }
  .reset-success {
    padding-top: 10px;
  }
  .spinner {
    vertical-align: middle;
  }
}
