<div class="overlay" [class.busy]="busy$ | async">
  <img class="busySpin" *ngIf="busy$ | async" [src]="loaderImg" alt="Busy">

  <form (keydown.enter)="$event.preventDefault()" *ngIf="simpleReconItemName" [formGroup]="simpleReconItemForm"
        (ngSubmit)="onSubmit(simpleReconItemForm.value)">
    <section class="form-block">

      <div class="row">
        <div class="col-xs-3 offset-xs-3">
          <h5><label for="amnt">{{ simpleReconItemName | unslug }}</label></h5>
        </div>
        <div class="col-xs-3">
          <input
            [formControlName]="simpleReconItemName"
            (focus)="$event.target.select()"
            class="money"
            daccsDecCurrFormatter
            decimalPlaces="2"
            [onlyNumber]="simpleReconItemName !== 'shorts'"
            minValue="-999999999.00"
            maxValue="999999999.00"
            type="text" id="amnt">
        </div>
      </div>

    </section>

    <button [disabled]="(conbroken$ | async)?.broken
                        || !simpleReconItemForm.valid
                        || simpleReconItemForm.pristine
                        || (mainRecon$|async)?.complete"
            class="btn btn-primary">Submit
    </button>
    <br>
    <span class="is-complete-msg" *ngIf="(mainRecon$|async)?.complete">* This Recon is marked as complete and cannot be submitted.</span>
  </form>
</div>
