@import "../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.busy *:not(.submit-warn) {
  opacity: 0.5;
  z-index: 9999;
}

.overlay {
  position: relative;
}

img.busySpin {
  margin-top: 12px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 96px;
}

input {
  float: right;
}

h5 {
  margin-top: 0;
}

.adjusted {
  background: $clr-dark-gray;
  color: $clr-white;
  border-radius: 2px;
  text-align: right;
  display: inline-block;
  padding-right: 6px;
  padding-left: 6px;
  float: right;
}
