<div class="row section-header mt72 mb12">
  <div class="col-xs-12 section-title">
    <h4>Site Notifications</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-2"><p class="p4">User:</p></div>
  <div class="col-xs-2"><p class="p4">Email:</p></div>
  <div class="col-xs-1"><p class="p4">Mobile:</p></div>
  <div class="col-xs-2"><p class="p4">Site:</p></div>
  <div class="col-xs-1"><p class="p4">Daily Summary SMS:</p></div>
  <div class="col-xs-1"><p class="p4">Daily Summary Email:</p></div>
  <div class="col-xs-1"><p class="p4">Monthly Cumulative Email:</p></div>
  <div class="col-xs-2"></div>
</div>

<daccs-site-notifications-item *ngFor="let siteNotifyItem of siteNotifyData; let isOdd=odd; let isEven=even"
                               [even]="isEven"
                               [odd]="isOdd"
                               [userList]="userList"
                               [siteNotifyItem]="siteNotifyItem"></daccs-site-notifications-item>


<div class="row mb12">
  <div class="col-xs-12">
    <h6 class="new">Add new site notification: </h6>
  </div>
</div>
<form #f="ngForm" (ngSubmit)="onSubmitNew(f.value)" novalidate class="row add-new-cont">
  <div class="col-xs-2 itm">
    <select [(ngModel)]="userId"
            (ngModelChange)="onModelChanged($event)"
            name="user">
      <option value="">-- Please select user --</option>
      <option *ngFor="let user of userList"
              [ngValue]="user.id">
        {{ user.full_name}}
      </option>
    </select>
  </div>
  <div *ngIf="userId" class="col-xs-2 itm">{{ selectedUser?.email }}</div>
  <div *ngIf="userId" class="col-xs-1 itm">{{ selectedUser?.mobile_number }}</div>
  <div *ngIf="userId" class="col-xs-2 itm">{{ siteProfile?.title }}</div>
  <div *ngIf="userId" class="col-xs-1 itm">
    <div class="toggle-switch">
      <input
        [(ngModel)]="siteNotifObj.daily_summary_sms"
        name="newsletter_email"
        type="checkbox"
        id="toggle_daily_summary_sms">
      <label for="toggle_daily_summary_sms"></label>
    </div>
  </div>
  <div *ngIf="userId" class="col-xs-1 itm">
    <div class="toggle-switch">
      <input
        [(ngModel)]="siteNotifObj.daily_summary_email"
        name="daily_summary_email"
        type="checkbox"
        id="toggle_daily_summary_email">
      <label for="toggle_daily_summary_email"></label>
    </div>
  </div>
  <div *ngIf="userId" class="col-xs-1 itm">
    <div class="toggle-switch">
      <input
        [(ngModel)]="siteNotifObj.monthly_cumulative_email"
        name="monthly_cumulative_email"
        type="checkbox"
        id="toggle_monthly_cumulative_email">
      <label for="toggle_monthly_cumulative_email"></label>
    </div>
  </div>
  <div *ngIf="userId" class="col-xs-2 itm del-row">
    <button [disabled]="" *ngIf="!busy; else busyBtn"
            class="btn btn-success btn-sm">
      <clr-icon shape="check" size="16"></clr-icon>
    </button>
  </div>
</form>

<ng-template #busyBtn>
  <button class="btn btn-success btn-sm btn-busy">
    <span class="spinner spinner-inline">
            Loading...
          </span>
  </button>
</ng-template>

