@import "../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

h2 {
  display: flex;
  align-items: center;
  .load {
    margin-left: 24px;
    width: 24px;
    height: 24px;
  }
}


input {
  border: none;
}

label.up-button input[type="file"] {
  position: fixed;
  top: -1000px;
}

p {
  margin: 0;
  text-align: center;
  color: $clr-dark-midtone-gray;
}

.p4 {
  margin: 0;
  color: $clr-dark-gray;
}

.file-list {
  p {
    color: $clr-dark-gray;
  }
}

.spinner {
  margin-left: 12px;
}

.btn-warning {
  margin: 0;
}

.up-button {
  cursor: pointer;
  display: inline-block;
  -webkit-appearance: none !important;
  border-radius: .125rem;
  border: 1px solid;
  min-width: 3rem;
  max-width: 15rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 1.5rem;
  letter-spacing: .12em;
  font-size: .5rem;
  font-weight: 500;
  height: 1.5rem;
  padding: 0 .5rem;
  margin: .25rem .5rem .25rem 0;
  border-color: $clr-green-light-midtone;
  background-color: $clr-green-light-midtone;
  color: #fff;
}

.up-button:hover {
  background: $clr-green-dark;
}
