<div class="row">
  <div class="col-xs-12">
    <h2>Uploaded Files for {{ currDateStr }} <span *ngIf="loadingFiles"
                                                   class="spinner spinner-inline load">Loading...</span></h2>
  </div>
</div>

<div class="col-lg-8 offset-lg-2">
  <div class="row mt24 mb12">
    <div class="col-xs-12">

      <div *ngIf="fileArray.length" class="row">
        <div class="col-xs-4">
          <p class="p4 tal">File Name</p>
        </div>
        <div class="col-xs-4">
          <p class="p4 tal">File Type</p>
        </div>
        <div class="col-xs-2">
          <p class="p4 tal">File Size</p>
        </div>
        <div class="col-xs-2">
          <p class="p4 tal">Remove</p>
        </div>
      </div>

      <div *ngIf="!fileArray.length && !loadingFiles; else files" class="row">
        <div class="col-xs-12">
          <p>No files uploaded for this date</p>
        </div>
      </div>

      <ng-template #files>
        <div *ngFor="let file of fileArray" class="row file-list mb6">
          <div class="col-xs-4">
            <a target="_blank" href="{{ file.file }}">{{ file.file_name }}</a>
          </div>
          <div class="col-xs-4">
            <p class="tal">{{ file.file_extension }}</p>
          </div>
          <div class="col-xs-2">
            <p class="tal">{{ file.size }}</p>
          </div>
          <div class="col-xs-2">
            <button (click)="openRemModal(file.id)" class="btn btn-warning btn-sm">
              <clr-icon shape="trash" size="16" class="is-solid"></clr-icon>
            </button>
          </div>
        </div>
      </ng-template>

      <div [hidden]="loadingFiles" class="mt24">
        <label class="up-button">
          <input type="file"
                 id="upFile"
                 accept=".pdf,.doc,.docx,.tiff,.jpeg,.jpg,.png,.xls,.xlsx,.txt"
                 placeholder="Upload file"
                 (change)="onFileChange($event)" #fileInput>
          <span *ngIf="!busyAdding; else adding">+ Add a file</span>
          <ng-template #adding>
            <span class="spinner spinner-inline load"></span>
          </ng-template>
        </label>
      </div>

    </div>
  </div>
</div>

<clr-modal class="config-rem-modal" [(clrModalOpen)]="remModalIsOpen">
  <h3 class="modal-title">Delete File?</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete this file?</p>
    <p><strong>This action can not be undone!</strong></p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-outline" (click)="closeRemModal()">Cancel</a>
    <button type="button" class="btn btn-danger" (click)="onDeleteFile()">Delete</button>
  </div>
</clr-modal>
