@import "../../../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

p {
  color: $clr-green;
  font-weight: bold;
  float: right;
  margin: 0 0 0 auto;
}

.adjust p {
  color: $clr-dark-gray;
}

.discr {
  color: $clr-red;
}

.term-diff, .adjust {
  display: flex;
  align-items: center;
}

.delete-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invalid-tip {
  pointer-events: none;
  color: $clr-red-light !important;
  position: absolute !important;
  top: 0;
  padding-left: 12px;
  font-size: 12px;
}

.ng-invalid:not(.ng-pristine) {
  border-color: $clr-red-light !important;
}
