<div [formGroup]="arrForm" class="row form-group item-input-row">

  <div class="col-xs">
    <input formControlName="terminal_description"
           readonly
           class="form-control no-border read-only"
           type="text">
  </div>

  <input #term formControlName="terminal_number"
         type="hidden">
  <input #batch formControlName="batch_number"
         type="hidden">

  <div class="col-xs">
    <input readonly class="form-control no-border read-only"
           [value]="term.value + ' / ' + batch.value"
           type="text">
  </div>

  <div class="col-xs">
    <input readonly formControlName="amount_cashiers"
           daccsDecCurrFormatter
           decimalPlaces="2"
           [onlyNumber]="true"
           minValue="-999999999.00"
           maxValue="999999999.00"
           class="form-control no-border read-only"
           type="text">
  </div>

  <div class="col-xs">
    <input formControlName="amount"
           #focusAmnt
           (keydown.enter)="processEnter($event, focusDisc)"
           (focus)="$event.target.select()"
           class="form-control money"
           daccsDecCurrFormatter
           decimalPlaces="2"
           [onlyNumber]="true"
           minValue="-999999999.00"
           maxValue="999999999.00"
           type="text">
    <span class="invalid-tip" *ngIf="arrForm.controls['amount'].invalid">* Required</span>
  </div>

  <div class="col-xs">
    <input formControlName="discrepancy"
           #focusDisc
           (keydown.enter)="processEnter($event, focusAmnt)"
           (focus)="$event.target.select()"
           class="form-control money"
           daccsDecCurrFormatter
           decimalPlaces="2"
           [onlyNumber]="true"
           minValue="-999999999.00"
           maxValue="999999999.00"
           type="text">
    <span class="invalid-tip" *ngIf="arrForm.controls['discrepancy'].invalid">* Required</span>
  </div>

  <div class="col-xs term-diff">
    <p [class.discr]="difference !== 0">R {{ difference | number:'.2-2'}}</p>
  </div>

  <div class="col-xs adjust">
    <p>R {{ adjust | number:'.2-2'}}</p>
  </div>


  <div class="col-xs delete-col">
    <clr-icon (click)="onDelete()" shape="times" class="is-error delete-row"></clr-icon>
  </div>

</div>
