<clr-modal class="config-rem-modal" [(clrModalOpen)]="remModalIsOpen">
    <h3 class="modal-title">Delete Site?</h3>
    <div class="modal-body">
        <p>Are you sure you want to delete this site?</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-outline" (click)="closeRemModal()">Cancel</a>
        <button type="button" class="btn btn-danger" (click)="onRemoveSite()">Delete</button>
    </div>
</clr-modal>

<div class="row mb24">
    <div class="col-xs-12">
        <a routerLink="new" class="btn btn-success">Add new site</a>
    </div>
</div>

<div *ngIf="sites$ | async as sites; else loading">

    <div class="row mb24">
        <div class="col-xs-3"><p class="p4">Site Name</p></div>
        <div class="col-xs-2"><p class="p4">Contact Person</p></div>
        <div class="col-xs-3"><p class="p4">Contact Email</p></div>
        <div class="col-xs-2"><p class="p4">Contact Mobile</p></div>
        <div class="col-xs-2"></div>
    </div>

    <div *ngFor="let site of sites; let isOdd=odd; let isEven=even" class="row"
         [class.odd]="isOdd"
         [class.even]="isEven">
        <div class="col-xs-3">{{ site.title }}</div>
        <div class="col-xs-2">{{ site.contact_person_name }}</div>
        <div class="col-xs-3">{{ site.contact_email }}</div>
        <div class="col-xs-2">{{ site.contact_mobile_number }}</div>
        <div class="col-xs-2 tac">
            <div class="row">
                <div class="col-xs-6 icon">
                    <a [routerLink]="['update', site._id_]" class="btn btn-primary btn-sm tooltip-left"
                       data-tooltip="Update Site">
                        <clr-icon shape="pencil" size="16" class="is-solid"></clr-icon>
                    </a>
                </div>
                <div class="col-xs-6 icon">
                    <button *ngIf="!busy; else busyBtn"
                            (click)="this.openRemModal($event, site._id_)"
                            class="btn btn-warning btn-sm" data-tooltip="Remove Site">
                        <clr-icon shape="trash" size="16" class="is-solid"></clr-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <h2>Loading...</h2>
</ng-template>

<ng-template #busyBtn>
    <button class="btn btn-success btn-sm btn-busy">
    <span class="spinner spinner-inline">
            Loading...
          </span>
    </button>
</ng-template>
