<div class="overlay" [class.busy]="busy$ | async">
  <img class="busySpin" *ngIf="busy$ | async" [src]="loaderImg" alt="Busy">

  <form (keydown.enter)="$event.preventDefault()" *ngIf="EODItemData && vatCodes" [formGroup]="EODItemForm"
        (ngSubmit)="onSubmit(EODItemForm.value)">

    <div>
      <input id="_id_" type="hidden" class="form-control" formControlName="_id_">
    </div>

    <div>
      <input id="category_type" type="hidden" class="form-control" formControlName="category_type">
    </div>

    <div *ngFor="let control of getFormArrayControls(EODItemForm, 'categories'); let i = index">

      <daccs-form-sales-category
        (dirtyForm)="setFormDirty($event)"
        (subTotal)="getGrandTotal($event)"
        [vatCodes]="vatCodes"
        [title]="EODItemData.categories[i].title"
        [catId]="EODItemData.categories[i]._id_"
        [subCatData]="EODItemData.categories[i].sub_categories"
        [mainCatType]="EODItemData.category_type"
        [arrForm]="getFormArrayControls(EODItemForm, 'categories')[i]">
      </daccs-form-sales-category>

    </div>

    <hr>

    <div *ngIf="EODItemData.category_type === 0; else otherTotals">

      <div class="row headers mt24">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-3 total-amnt">
          <div class="total-txt">
            <h5>Grant Total: </h5>
          </div>
        </div>
        <div class="col-xs-3 total-amnt">
          <div class="amnt-cont">
            <h5>R {{ grandTotal.excl | number:'.2-2'}}</h5>
          </div>
        </div>
      </div>

      <div class="row headers">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-3 total-amnt">
          <div class="total-txt">
            <h5>Discrepancy: </h5>
          </div>
        </div>
        <div class="col-xs-3 total-amnt">
          <div class="amnt-cont">
            <input (focus)="$event.target.select()"
                   daccsDecCurrFormatter
                   decimalPlaces="2"
                   [onlyNumber]="true"
                   minValue="-999999999.00"
                   maxValue="999999999.00"
                   #wetDescr
                   class="form-control discrep"
                   formControlName="discrepancy">
          </div>
        </div>
      </div>

      <div class="row headers mt12">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-3 total-amnt">
          <div class="total-txt">
            <h5>Adjusted Total: </h5>
          </div>
        </div>
        <div class="col-xs-3 total-amnt">
          <div class="amnt-cont">
            <h5>R {{ getAdjusted(EODItemForm.value['discrepancy'], grandTotal.excl) | number:'.2-2'}}</h5>
          </div>
        </div>
      </div>

    </div>


    <ng-template #otherTotals>
      <div class="row headers mt24">
        <div class="col-xs">
        </div>
        <div class="col-xs total-amnt">
          <div class="total-txt">
            <h5>Grand Total: </h5>
          </div>
        </div>
        <div class="col-xs total-amnt">
          <div class="amnt-cont">
            <h5>R {{ grandTotal.excl | number:'.2-2'}}</h5>
          </div>
        </div>
        <div class="col-xs total-amnt">
          <div class="amnt-cont">
            <h5>R {{ grandTotal.vat | number:'.2-2'}}</h5>
          </div>
        </div>
        <div class="col-xs total-amnt">
          <div class="amnt-cont">
            <h5>R {{ grandTotal.incl | number:'.2-2'}}</h5>
          </div>
        </div>
      </div>

      <div class="row headers">
        <div class="col-xs">
        </div>
        <div class="col-xs total-amnt">
          <div class="total-txt">
            <h5>Discrepancy: </h5>
          </div>
        </div>
        <div class="col-xs total-amnt">
        </div>
        <div class="col-xs total-amnt">
        </div>
        <div class="col-xs total-amnt">
          <div class="amnt-cont">
            <input (focus)="$event.target.select()"
                   daccsDecCurrFormatter
                   decimalPlaces="2"
                   [onlyNumber]="true"
                   minValue="-999999999.00"
                   maxValue="999999999.00"
                   #discr
                   class="form-control discrep"
                   formControlName="discrepancy">
          </div>
        </div>
      </div>

      <div class="row headers mt12">
        <div class="col-xs">
        </div>
        <div class="col-xs total-amnt">
          <div class="total-txt">
            <h5>Adjusted Total: </h5>
          </div>
        </div>
        <div class="col-xs total-amnt">
        </div>
        <div class="col-xs total-amnt">
        </div>
        <div class="col-xs total-amnt">
          <div class="amnt-cont">
            <h5>R {{ getAdjusted(EODItemForm.value['discrepancy'], grandTotal.incl) | number:'.2-2'}}</h5>
          </div>
        </div>
      </div>
    </ng-template>

    <button [disabled]="(conbroken$ | async)?.broken
            || !EODItemForm.valid
            || EODItemForm.pristine
            || (mainRecon$|async)?.complete"
            class="btn btn-primary mt48">Submit
    </button>
    <br>
    <span class="is-complete-msg" *ngIf="(mainRecon$|async)?.complete">* This Recon is marked as complete and cannot be submitted.</span>
  </form>
</div>

