@import "../../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

form {
  padding-right: 24px;
}

.busy *:not(.submit-warn) {
  opacity: 0.5;
  z-index: 9999;
}

.overlay {
  position: relative;
}

img.busySpin {
  margin-top: 48px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 96px;
}

.headers {
  h4, h5, input {
    width: 100%;
    margin-top: 6px;
  }
}

.total-amnt {
  .amnt-cont {
    text-align: right;
    h5, h4 {
      background: $clr-dark-gray;
    }
  }
}

hr {
  margin-top: 24px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}
