.sales-total {
  h4 {
    min-width: 162px;
    text-align: right;
  }
}

.busy *:not(.submit-warn) {
  opacity: 0.5;
  z-index: 9999;
}

.overlay {
  position: relative;
}

img.busySpin {
  margin-top: 48px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 96px;
}
