<div class="overlay" [class.busy]="busy$ | async">
  <img class="busySpin" *ngIf="busy$ | async" [src]="loaderImg" alt="Busy">

  <form (keydown.enter)="$event.preventDefault()" [formGroup]="salesReconForm"
        (ngSubmit)="onSubmit(salesReconForm.value)">

    <section class="form-block">

      <div
        *ngFor="let control of getFormArrayControls(salesReconForm, 'sales'); let i = index; let odd=odd">

        <daccs-form-sales-recon-row [odd]="odd" [arrForm]="getFormArrayControls(salesReconForm, 'sales')[i]">

        </daccs-form-sales-recon-row>

      </div>

    </section>

    <div class="row headers">
      <div class="col-xs">
        <div class="total-txt">
          <h4>Total: </h4>
        </div>
      </div>
      <div class="col-xs total-amnt">
        <div class="amnt-cont tal sales-total">
          <h4>R {{ amountTotal | number:'.2-2' }}</h4>
        </div>
      </div>
    </div>

    <div class="button-cont mt48">
      <button [disabled]="(conbroken$ | async)?.broken
      || !salesReconForm.valid
      || salesReconForm.pristine
      || (mainRecon$|async)?.complete"
              class="btn btn-primary">Submit
      </button>
      <span class="submit-warn" [class.warning-on]="salesReconForm.invalid">* Please ensure all required fields are completed.</span>
    </div>
    <span class="is-complete-msg" *ngIf="(mainRecon$|async)?.complete">* This Recon is marked as complete and cannot be submitted.</span>

  </form>
</div>
