@import "../../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

h5 {
  border-radius: 3px;
  color: $clr-white;
  background: $clr-dark-gray;
  padding-left: 4px;
  padding-right: 4px;
  display: inline-block;
  margin-bottom: 6px;
}
