<div *ngIf="eodCatsSorted; else loading">
  <section class="form-block">
    <div *ngFor="let eodSection of eodCatsSorted" class="form-group">
      <h5>{{ eodSection.parent | titleCase }}</h5>
      <daccs-toggle-item *ngFor="let eodCat of eodSection.data | orderBy:'title'"
                         [catUrl]="'category'" [catData]="eodCat" [idx]="eodCat._id_">
      </daccs-toggle-item>
    </div>
  </section>
</div>


<ng-template #loading>
  <h1>Loading..</h1>
</ng-template>
