@import "../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

input {
  text-align: center;
}

.form-group {
  margin-bottom: 12px;
}

input.req {
  border-left: 5px solid $clr-red-light-midtone !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $clr-red-light-midtone;
  font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $clr-red-light-midtone;
  font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $clr-red-light-midtone;
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  color: $clr-red-light-midtone;
  font-style: italic;
}
