<div class="row">
  <div class="col-md-8 offset-md-2">

    <div class="row section-header">
      <div class="col-xs-4 section-title">
        <h2>Edit Site <span *ngIf="loading || busy" class="spinner spinner-inline load"></span></h2>
      </div>
      <div class="col-xs-8">
        <a routerLink="../../" class="btn btn-outline-success">
          <clr-icon shape="undo"></clr-icon>
          Back to site list
        </a>
      </div>
    </div>

    <form *ngIf="site" [formGroup]="updateSiteForm" (ngSubmit)="onUpdateSite(updateSiteForm.value)">
      <section class="form-block">
        <label class="mb24">Account Number: {{ site.account_number }}</label>

        <input type="hidden" formControlName="_id_" id="_id_">

        <div class="form-group">
          <label for="title">Site Name: </label>
          <input [class.req]="updateSiteForm.get('title').invalid"
                 [placeholder]="updateSiteForm.get('title').invalid ? 'This field is required' : ''"
                 formControlName="title"
                 id="title"
                 size="45">
        </div>

        <div class="form-group">
          <label for="active">Active: </label>

          <div class="toggle-switch">
            <input formControlName="active" type="checkbox" id="active">
            <label for="active">Toggle site active</label>
          </div>

        </div>

        <div class="form-group">
          <label for="company_registration_name">Company Reg Name: </label>
          <input formControlName="company_registration_name" id="company_registration_name" size="45">
        </div>

        <div class="form-group">
          <label for="company_registration_number">Company Reg No: </label>
          <input formControlName="company_registration_number" id="company_registration_number" size="45">
        </div>

        <div class="form-group">
          <label for="company_vat_number">Company VAT No: </label>
          <input formControlName="company_vat_number" id="company_vat_number" size="45">
        </div>

        <div class="form-group">
          <label for="contact_person_name">Contact Person Name: </label>
          <input formControlName="contact_person_name" id="contact_person_name" size="45">
        </div>

        <div class="form-group">
          <label for="contact_email">Contact Person Email: </label>
          <input [class.req]="updateSiteForm.get('contact_email').invalid" formControlName="contact_email"
                 id="contact_email" size="45">
        </div>

        <div class="form-group">
          <label for="contact_mobile_number">Contact Person Mobile: </label>
          <input formControlName="contact_mobile_number" id="contact_mobile_number" size="45">
        </div>

        <div class="form-group">
          <label for="site_telephone">Site Telephone: </label>
          <input [class.req]="updateSiteForm.get('site_telephone').invalid"
                 [placeholder]="updateSiteForm.get('site_telephone').invalid ? 'This field is required' : ''"
                 formControlName="site_telephone"
                 id="site_telephone"
                 size="45">
        </div>

        <div class="form-group">
          <label for="site_address">Site Address: </label>
          <textarea formControlName="site_address" id="site_address" rows="5"></textarea>
        </div>

        <div class="form-group">
          <label for="franchise">Franchise:</label>
          <div class="select">
            <select formControlName="franchise" id="franchise">
              <option *ngFor="let franchise of franchises" [value]="franchise.id">{{franchise.title}}
              </option>
            </select>
          </div>
        </div>

        <button *ngIf="!busy;else busyBtn" [disabled]="!updateSiteForm.valid || updateSiteForm.pristine"
                class="btn btn-primary">
          UPDATE
        </button>

        <ng-template #busyBtn>
          <button class="btn btn-busy">
            <span class="busy-txt">UPDATING...</span>
            <span class="spinner spinner-inline"></span>
          </button>
        </ng-template>

      </section>
    </form>

  </div>
</div>
