@import "../../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.toggle-switch input[type="checkbox"]:disabled + label::before {
  position: absolute;
  display: inline-block;
  content: '';
  height: 18px;
  width: 33px;
  border-radius: 9px;
  border: 2px solid #eeeeee;
  background-color: #eeeeee;
  top: 3px;
  right: -42px;
  transition: .15s ease-in;
  transition-property: border-color, background-color;
}

.toggle-switch input[type="checkbox"]:disabled + label::after {
  display: none;
}
