<div class="row">
  <div class="col-xs-4">
    <label>{{ catData.title | titleCase }}</label>
  </div>
  <div class="col-xs-4">
    <div class="toggle-switch">
      <input [disabled]="busy$ | async" [(ngModel)]="active" (ngModelChange)="toggle($event)" type="checkbox"
             id="toggle_{{ idx }}">
      <label for="toggle_{{ idx }}"></label>
    </div>
  </div>
</div>
