<div class="row" [class.busy]="busy">
  <div class="col-md-8 offset-md-2">

    <div class="row">
      <div class="col-xs-12">
        <h2>Profile Details</h2>
      </div>
    </div>

    <form [formGroup]="profileDataForm"
          (ngSubmit)="onUpdateMe(profileDataForm.value)">
      <input type="hidden" formControlName="id" id="id">
      <section class="form-block">

        <div class="form-group">
          <label for="first_name">First Name: </label>
          <input formControlName="first_name" id="first_name" size="45">
        </div>

        <div class="form-group">
          <label for="last_name">First Name: </label>
          <input formControlName="last_name" id="last_name" size="45">
        </div>

        <div class="form-group">
          <label for="mobile_number">Contact Number:</label>
          <input formControlName="mobile_number" id="mobile_number" size="45">
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input [placeholder]="profileDataForm.get('email').invalid ? 'This field is required' : ''"
                 formControlName="email"
                 id="email"
                 size="45">
        </div>

        <button *ngIf="!busy; else busyBtn" type="submit"
                [disabled]="!profileDataForm.valid || profileDataForm.pristine"
                class="btn btn-primary">
          UPDATE
        </button>

      </section>
    </form>
  </div>

</div>
<div class="row" [class.busy]="busy1">
  <div class="col-md-8 offset-md-2">
    <div class="row">
      <div class="col-xs-12">
        <h2>Change Password</h2>
        <p class="mt6">Your password must contain at least 8 characters and 1 numeric.</p>
      </div>
    </div>
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmitPasswordChange(passwordResetForm.value)">
      <input type="hidden" formControlName="id" id="id">
      <section class="form-block">
        <div class="form-group">
          <label for="old_password">Old Password:</label>
          <input formControlName="old_password" type="password" id="old_password" size="45" class="password">
        </div>
        <div class="form-group">
          <label for="password">New Password:</label>
          <input formControlName="password" type="password" id="password" size="45" class="password">
        </div>
        <div class="form-group">
          <label for="confirm_password">Confirm Password:</label>
          <input formControlName="confirm_password" type="password" id="confirm_password" size="45"
                 class="password">
        </div>

        <button *ngIf="!busy1; else busyBtn" type="submit"
                [disabled]="!passwordResetForm.valid || passwordResetForm.pristine"
                class="btn btn-primary">
          UPDATE
        </button>


      </section>
    </form>
  </div>
</div>


<ng-template #busyBtn>
  <button class="btn btn-busy">
    <span class="busy-txt">UPDATING...</span>
    <span class="spinner spinner-inline"></span>
  </button>
</ng-template>
