@import "../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

input {
  text-align: left;
}

.form-group {
  margin-bottom: 12px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $clr-red-light-midtone;
  font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $clr-red-light-midtone;
  font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $clr-red-light-midtone;
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  color: $clr-red-light-midtone;
  font-style: italic;
}

span.busy-txt {
  margin-right: 12px;
}
