<div *ngIf="mainCats$ | async as mainCats; else loading">
  <section class="form-block">
    <div *ngFor="let mainCat of mainCats | orderBy:'title'; let i = index" class="form-group">
      <daccs-toggle-item [catUrl]="'main-category'" [catData]="mainCat" [idx]="i"></daccs-toggle-item>
    </div>
  </section>
</div>

<ng-template #loading>
  <h1>Loading..</h1>
</ng-template>
