<div class="row">
  <div class="col-xs-12">

    <daccs-live-header
      [ShiftsData]="(cashierShifts$ | async) ? (cashierShifts$ | async): null"
      [EODData]="(EODData$ | async) ? (EODData$ | async): null">
    </daccs-live-header>

  </div>

</div>

<router-outlet></router-outlet>
