<clr-modal class="config-rem-modal" [(clrModalOpen)]="remModalIsOpen">
  <h3 class="modal-title">Delete ledger item?</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete this item?</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-outline" (click)="closeRemModal()">Cancel</a>
    <button type="button" class="btn btn-danger" (click)="onRemoveGenLedger()">Delete</button>
  </div>
</clr-modal>

<form *ngIf="genLedger.site; else readOnly" [formGroup]="genLedgerUpdateForm" class="row form-group"
      (ngSubmit)="onUpdateGenLedger(genLedgerUpdateForm.value)">
  <input formControlName="_id_" type="hidden">

  <div class="col-xs-3">
    <input formControlName="title">
  </div>
  <div class="col-xs-3">
    <input formControlName="code">
  </div>
  <div class="col-xs-4">
    <div class="select">
      <select formControlName="ledger_type">
        <option *ngFor="let o of glTypes"
                [ngValue]="o.value">
          {{ o.title}}
        </option>
      </select>
    </div>
  </div>
  <div class="col-xs-2 tac">
    <div class="row">
      <div class="col-xs-6">
        <button [disabled]="!genLedgerUpdateForm.valid || genLedgerUpdateForm.pristine" *ngIf="!busy; else busyBtn"
                class="btn btn-success btn-sm">
          <clr-icon shape="floppy" size="16" class="is-solid"></clr-icon>
        </button>
      </div>
      <div class="col-xs-6">
        <button *ngIf="!busy; else busyBtn"
                (click)="this.openRemModal($event)"
                class="btn btn-warning btn-sm">
          <clr-icon shape="trash" size="16" class="is-solid"></clr-icon>
        </button>
      </div>
    </div>
  </div>
</form>

<ng-template #readOnly>
  <div class="row sys">
    <div class="col-xs-3">
      <p>{{ genLedger.title }}</p>
    </div>
    <div class="col-xs-3">
      <p>{{ genLedger.code }}</p>
    </div>
    <div class="col-xs-4">
      <p>{{ glTypes[genLedger.ledger_type].title }}</p>
    </div>
    <div class="col-xs-2 tac">
      <div class="row">
        <div class="col-xs-6">
          <button disabled class="btn btn-success btn-sm sys-button">
            System
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #busyBtn>
  <button class="btn btn-success btn-sm btn-busy">
    <span class="spinner spinner-inline">
            Loading...
          </span>
  </button>
</ng-template>
