<div class="row section-header">
  <div class="col-xs-12">
    <h2>Summary Report<span *ngIf="false" class="spinner spinner-inline load">Loading...</span></h2>
  </div>
</div>


<div *ngIf="wetStock?.length" class="row">
  <div class="col-xs-8 offset-sm-2">
    <h4>Wet Stock</h4>
    <table class="table table-compact">
      <thead>
      <tr>
        <th>Wet Stock Details</th>
        <th>Litres</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ws of wetStock">
        <td>{{ ws.title }}</td>
        <td>{{ ws.liters }} &#8467;</td>
        <td>R {{ ws.amount | number:'.2-2' }}</td>
      </tr>
      <tr class="totals">
        <td>Totals:</td>
        <td>{{ wetStockTotals.liters }} &#8467;</td>
        <td>R {{ wetStockTotals.amount | number:'.2-2' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 offset-sm-2">
    <h4>Sales</h4>
    <table *ngIf="tallied.salesDataArr; else prob" class="table table-compact">
      <thead>
      <tr>
        <th>Sales Summary</th>
        <th>Cashiers</th>
        <th>EOD</th>
        <th>Difference</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let si of tallied.salesDataArr">
        <td>{{ si.title | titleCase }}</td>
        <td>R {{ si.cashierAmount | number:'.2-2' }}</td>
        <td>R {{ si.eodAmount | number:'.2-2' }}</td>
        <td>R {{ si.diffAmount | number:'.2-2' }}</td>
      </tr>
      <tr class="totals">
        <td>Totals:</td>
        <td>R {{ salesTotals.cashierAmount | number:'.2-2' }}</td>
        <td>R {{ salesTotals.eodAmount | number:'.2-2' }}</td>
        <td>R {{ salesTotals.diffAmount | number:'.2-2' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 offset-sm-2">
    <h4>Deposits</h4>
    <table *ngIf="tallied.depositData; else prob" class="table table-compact">
      <thead>
      <tr>
        <th>Deposit Summary</th>
        <th>Cashiers</th>
        <th>EOD</th>
        <th>Difference</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let di of tallied.depositData">
        <td>{{ di.title | unslug }}</td>
        <td>R {{ di.cashierAmount | number:'.2-2' }}</td>
        <td>R {{ di.eodAmount | number:'.2-2' }}</td>
        <td>R {{ di.diffAmount | number:'.2-2' }}</td>
      </tr>
      <tr class="totals">
        <td>Totals:</td>
        <td>R {{ depTotals.cashierAmount | number:'.2-2' }}</td>
        <td>R {{ depTotals.eodAmount | number:'.2-2' }}</td>
        <td>R {{ depTotals.diffAmount | number:'.2-2' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 offset-sm-2">
    <h4>Balance</h4>
    <table *ngIf="balance; else prob" class="table table-compact">
      <thead>
      <tr>
        <th></th>
        <th>Cashiers</th>
        <th>EOD</th>
        <th>Difference</th>
      </tr>
      </thead>
      <tbody>
      <tr class="totals">
        <td>Totals:</td>
        <td>R {{ balance.cashierAmount | number:'.2-2' }}</td>
        <td>R {{ balance.eodAmount | number:'.2-2' }}</td>
        <td>R {{ balance.diffAmount | number:'.2-2' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 offset-sm-2">
    <h4>Other Movements</h4>
    <table *ngIf="tallied.reconData; else prob" class="table table-compact">
      <thead>
      <tr>
        <th>Other Movement</th>
        <th>Cashiers</th>
        <th>EOD</th>
        <th>Difference</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ri of tallied.reconData">
        <td>{{ ri.title | unslug }}</td>
        <td>R {{ ri.cashierAmount | number:'.2-2' }}</td>
        <td>R {{ ri.eodAmount | number:'.2-2' }}</td>
        <td>R {{ ri.diffAmount | number:'.2-2' }}</td>
      </tr>
      <tr class="totals">
        <td>Total Movement:</td>
        <td>R {{ movementTotals?.cashierAmount | number:'.2-2' }}</td>
        <td>R {{ movementTotals?.eodAmount | number:'.2-2' }}</td>
        <td>R {{ movementTotals?.diffAmount | number:'.2-2' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 offset-sm-2">
    <h4>Shorts/Overs</h4>
    <table *ngIf="shortsData; else prob" class="table table-compact">
      <thead>
      <tr>
        <th>System</th>
        <th>Explained</th>
        <th>Variance</th>
      </tr>
      </thead>
      <tbody>
      <tr class="totals">
        <td>R {{ shortsData.system | number:'.2-2' }}</td>
        <td>R {{ shortsData.explained | number:'.2-2' }}</td>
        <td>R {{ shortsData.variance | number:'.2-2' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row mt24">
  <div class="col-xs-8 offset-sm-2">
    <table *ngIf="shortsData; else prob" class="table">
      <thead>
      <tr class="gr-check" [class.bal]="grandCheck === 0">
        <th>Grand Check</th>
        <th></th>
        <th>R {{ grandCheck | number:'.2-2' }}</th>
      </tr>
      </thead>
    </table>
  </div>
</div>

<ng-template #prob>
  <div class="row">
    <div class="col-xs-12">
      <h2>Data Error</h2>
      <p>There has been an error retrieving report data. Please refresh your page, or contact support.</p>
    </div>
  </div>
</ng-template>
