@import "../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

table {
  table-layout: fixed;
}

h2 {
  margin: 0;
}

.totals {
  td {
    font-weight: bold;
  }
}

.gr-check {
  th {
    background: $clr-red-lighter;
  }
  &.bal {
    th {
      background: $clr-green-lighter;
    }
  }
}
