<div class="row heading">
  <div class="col-lg-6">
    <h2>Monthly Cumulative Report<span *ngIf="busy" class="spinner spinner-inline load">Loading...</span></h2>
  </div>
  <div class="month-picker col-lg-6">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f.valid)" novalidate>
      <label>
        Month:
        <select name="month" [(ngModel)]="reportMonth.month" required>
          <option *ngFor="let month of months" [value]="month.val">{{month.name}}</option>
        </select>
      </label>
      <label>
        Year:
        <select name="year" [(ngModel)]="reportMonth.year" required>
          <option *ngFor="let year of years" [selected]="yy === year ">{{year}}</option>
        </select>
      </label>
      <button *ngIf="!busy; else busyBtnIn" type="submit" class="btn btn-success btn-sm">Retrieve Report</button>
      <ng-template #busyBtnIn>
        <button class="btn btn-success btn-sm btn-busy-inline">
          <span>Loading..</span>
          <span class="spinner spinner-inline">
          </span>
        </button>
      </ng-template>
    </form>
  </div>
</div>

<div *ngIf="noReport" class="no-report row">
  <div class="col-xs-6">
    <h3 class="no-report">No report could be found for this month</h3>
    <p>Please try again for a different month, or contact support.</p>
  </div>
</div>

<table *ngIf="reportData" class="table table-compact mt48">

  <thead>
  <tr>
    <th *ngFor="let header of reportData?.headers">{{ header }}</th>
  </tr>
  </thead>

  <tbody>

  <tr *ngFor="let day of reportData?.rows; let i = index; let even = even" [class.even]="even">
    <td *ngFor="let field of day; let j = index">
      {{ field | cellFormat:(indexOfLitersCol === j ? 'liters': 'money')}}
    </td>
  </tr>

  <tr class="totals">
    <td>Totals:</td>
    <!--minus 1 because there is one less total than header-->
    <td *ngFor="let total of totalArr; let k = index">{{ total | cellFormat:(indexOfLitersCol - 1 === k ? 'liters':
      'money')}}
    </td>
  </tr>

  </tbody>
</table>
