@import "../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  h2 {
    margin: 0;
  }
}

td, th {
  text-align: right;
}

.month-picker {
  display: flex;
  align-items: center;
  form {
    padding: 0;
  }
}

.even {
  background: $clr-lighter-midtone-gray;
}

select {
  background: none;
  height: 30px;
  margin-left: 6px;
  margin-right: 6px;
}

button {
  height: 30px !important;
  margin: 0;
}

.totals {
  tr, td {
    font-weight: bold;
  }
}

h2 {
  display: flex;
  align-items: center;
  margin: 0;
  line-height: normal;
  .spinner {
    margin-left: 12px;
  }
}

h3.no-report {
  display: inline-block;
  border-radius: 3px;
  background: $clr-action-blue-darker;
  color: $clr-white;
  padding: 6px;
}

.btn-busy-inline {
  margin: 0;
  height: 30px !important;
  background: $clr-lighter-midtone-gray !important;
  border-color: $clr-light-midtone-gray !important;
  &:active {
    border: none !important;
    box-shadow: none !important;
  }
  .spinner {
    margin-left: 12px;
  }
  span {
    margin-top: auto;
    margin-bottom: auto;
  }
}
