<clr-wizard #wizard [(clrWizardOpen)]="openWizard" (clrWizardOnFinish)="doFinish()"
            (clrWizardOnCancel)="doReset()">

  <clr-wizard-title>
    Setup EOD Categories
  </clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">OK</clr-wizard-button>

  <clr-wizard-page #mainCat>
    <ng-template clrPageTitle>Main Categories</ng-template>
    <daccs-wiz-main-cat *ngIf="mainCat.current && openWizard"></daccs-wiz-main-cat>
  </clr-wizard-page>

  <clr-wizard-page #eodCat>
    <ng-template clrPageTitle>Categories</ng-template>
    <daccs-wiz-eod-cat *ngIf="eodCat.current && openWizard"></daccs-wiz-eod-cat>
  </clr-wizard-page>

  <clr-wizard-page #subCat>
    <ng-template clrPageTitle>Sub-categories</ng-template>
    <daccs-wiz-sub-cat *ngIf="subCat.current && openWizard"></daccs-wiz-sub-cat>
  </clr-wizard-page>

</clr-wizard>

<div *ngIf="(setupRequired$ | async)?.setup_required; else setupDone" class="cont">
  <div class="col-xs-8 offset-xs-2">
    <h3>SETUP REQUIRED !</h3>
    <p>The wizard below will help you set up your categories for the first time, please make sure you complete the
      entire process. Click the button below to begin.</p>
    <button (click)="open()" class="btn btn-success mt24">Start Category Setup Wizard</button>
  </div>
</div>

<ng-template #setupDone>
  <div class="cont">
    <div class="col-xs-8 offset-xs-2">
      <h3>Category Setup</h3>
      <p>The wizard below will help you make changes to your categories. Please note changes will only take effect on
        the next recon date and not today.</p>
      <button (click)="open()" class="btn btn-success mt24">Start Category Setup Wizard</button>
    </div>
  </div>
</ng-template>

