<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">


      <daccs-ng-select
        *ngIf="siteAccessSites"
        class="sites"
        (selected)="siteSwitch($event)"
        [maxHeight]="500"
        [(ngModel)]="selectedSiteId"
        [options]="siteAccessSites">
        <ng-template
          #optionTemplate
          let-option="option">
          <div class="fr-logo"><img *ngIf="option.logo" [src]="option.logo"></div>
          <span class="site-opt">{{option?.label}}</span>
        </ng-template>
      </daccs-ng-select>

    </div>
    <div class="header-nav" [clr-nav-level]="2">
    </div>
    <div class="header-actions">
      <clr-tooltip *ngIf="(setupRequired$ |async)?.setup_required" class="alrt">
        <clr-icon clrTooltipTrigger size="36" shape="bubble-exclamation" class="is-solid is-warning"></clr-icon>
        <clr-tooltip-content clrPosition="bottom-right" clrSize="lg" *clrIfOpen>
          <span>Site setup not complete. Visit 'Categories' to setup.</span>
        </clr-tooltip-content>
      </clr-tooltip>

      <span *ngIf="(me$ | async)" class="user">Welcome, {{ (me$ | async)?.full_name }}</span>
      <form id="date-picker" #myForm="ngForm" novalidate>
        <my-date-picker (dateChanged)="onDateChange($event)" name="mydate" [options]="myDatePickerOptions"
                        [(ngModel)]="dateModel" required></my-date-picker>
      </form>

      <div (click)="logout()" class="logout">
        <span>Logout </span>
        <clr-icon class="logout-icn" shape="logout" size="24"></clr-icon>
      </div>

    </div>
  </clr-header>
  <div class="content-container">
    <main *ngIf="!loading" class="content-area">

      <div *ngIf="brokenConn?.broken" class="alert alert-app-level alert-danger"
           style="margin-bottom:6px;margin-top: -18px">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <div class="alert-text">
              Warning: Connection to server has been lost.

              <span
                *ngIf="(countDown | async) >= 1; else timer">Reconnecting in {{ countDown | async }} seconds...</span>

              <ng-template #timer>
                <span>Reconnecting now..</span>
              </ng-template>

            </div>
            <div *ngIf="(countDown | async) > 0" class="alert-actions">
              <button (click)="reconnect()" class="btn alert-action">Retry Now</button>
            </div>
          </div>
        </div>
        <button type="button" class="close" aria-label="Close">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
      </div>

      <router-outlet></router-outlet>
    </main>
    <main *ngIf="loading" class="content-area loader">
      <div class="loader-cont">
        <img [src]="loaderSVG" alt="Connecting"><br>
        <h2>Connecting....</h2>
      </div>
    </main>
    <nav class="sidenav" [clr-nav-level]="1">
      <section id="logo">

        <img width="220"
             [hidden]="!logoisLoaded"
             *ngIf="siteProfile?.franchise_logo_url"
             [src]="siteProfile.franchise_logo_url" [alt]="siteProfile?.title" (load)="logoLoaded()">

        <img class="default-image" *ngIf="brokenImage && !logoisLoaded" [src]="defaultLogo" alt="DACCS">

        <span *ngIf="!logoisLoaded && !brokenImage" class="spinner spinner-lg">
          </span>

      </section>
      <section class="sidenav-content">
        <a [routerLink]="['/dash']" routerLinkActive="active" class="nav-link">
          Dashboard
        </a>
        <section class="nav-group collapsible">
          <input id="shiftNav" type="checkbox">
          <label for="shiftNav">Daily Recon</label>
          <ul class="nav-list">
            <li><a routerLink="/daily-recon/shifts" routerLinkActive="active" class="nav-link">Shifts</a></li>
            <li><a routerLink="/daily-recon/eod" routerLinkActive="active" class="nav-link">End Of Day</a></li>
            <li><a routerLink="/files" routerLinkActive="active" class="nav-link">Files</a></li>
            <li><a routerLink="/recon-history" routerLinkActive="active" class="nav-link">History</a></li>
          </ul>
        </section>
        <section class="nav-group collapsible">
          <input id="reportsNav" type="checkbox">
          <label for="reportsNav">Reports</label>
          <ul class="nav-list">
            <li><a class="nav-link">Sales Wetstock</a></li>
            <li><a class="nav-link">Sales Drystock</a></li>
            <li><a class="nav-link">Fuel Stock</a></li>
            <li><a routerLink="/reports/summary" routerLinkActive="active" class="nav-link">Summary</a></li>
            <li><a routerLink="/reports/monthly-cumulative" routerLinkActive="active" class="nav-link">Cumulative</a>
            </li>
          </ul>
        </section>
        <section class="nav-group collapsible">
          <input id="prefNav" type="checkbox">
          <label for="prefNav">Preferences</label>
          <ul class="nav-list">
            <li><a routerLink="/preferences/my-profile" routerLinkActive="active" class="nav-link">My Profile</a></li>
          </ul>
        </section>
        <section class="nav-group collapsible">
          <input id="compNav" type="checkbox">
          <label for="compNav">Company</label>
          <ul class="nav-list">
            <li><a routerLink="/company/company-settings" routerLinkActive="active" class="nav-link">Company
              Settings</a></li>
            <li><a routerLink="/company/sites" routerLinkActive="active" class="nav-link">Sites (Add/Remove)</a></li>
            <li><a routerLink="/company/users" routerLinkActive="active" class="nav-link">Users (Add/Remove)</a></li>
            <li><a routerLink="/company/notifications" routerLinkActive="active" class="nav-link">Notifications</a></li>
          </ul>
        </section>
        <section class="nav-group collapsible">
          <input id="batchNav" type="checkbox">
          <label for="compNav">Batch</label>
          <ul class="nav-list">
            <li><a routerLink="/batch/generate-batch" routerLinkActive="active" class="nav-link">Generate Batch</a>
            </li>
          </ul>
        </section>
        <section class="nav-group collapsible">
          <input id="siteNav" type="checkbox">
          <label for="siteNav">Site Setup</label>
          <ul class="nav-list">
            <li><a routerLink="/setup/categories" routerLinkActive="active" class="nav-link">Categories</a></li>
            <li><a routerLink="/setup/ledgers" routerLinkActive="active" class="nav-link">Ledgers</a></li>
            <li><a routerLink="/setup/cashiers" routerLinkActive="active" class="nav-link">Cashiers</a></li>
            <li><a routerLink="/setup/debtors" routerLinkActive="active" class="nav-link">Debtors</a></li>
            <li><a routerLink="/setup/suppliers" routerLinkActive="active" class="nav-link">Suppliers</a></li>
            <li><a routerLink="/setup/speedpoints" routerLinkActive="active" class="nav-link">Speedpoints</a></li>
          </ul>
        </section>
        <a *ngIf="!prod" (click)="logState()" class="nav-link">
          Log State
        </a>
      </section>
    </nav>
  </div>
</clr-main-container>
