@import "../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.sidenav {
  box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#logo {
  height: 153px;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 90%;
    width: auto;
    max-width: 100%;
  }
  background: $clr-white;
  .default-image {
    height: 64px;
    width: auto;
  }
}

#search_i {
  margin-right: 48px;
}

span.user {
  margin-left: auto;
  margin-right: 48px;
  display: flex;
  align-items: center;
}

.loader {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}

.branding {
  display: flex;
  align-items: center;
}

.alrt {
  margin-right: 48px;
  margin-top: auto;
  margin-bottom: auto;
}

/* SIDE NAV */
$svg_data: "data:image/svg+xml;charset=utf8";
@function generateCaretIcon($fillColor: #FFFFFF) {
  $caret-icon: "%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cstyle%3E.cls-1%7Bfill%3A%23"
    + str-slice($fillColor + "",2)
    + "%3B%7D%3C%2Fstyle%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Ctitle%3ECaret%3C%2Ftitle%3E%0A%20%20%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M6%2C9L1.2%2C4.2a0.68%2C0.68%2C0%2C0%2C1%2C1-1L6%2C7.08%2C9.84%2C3.24a0.68%2C0.68%2C0%2C1%2C1%2C1%2C1Z%22%2F%3E%0A%3C%2Fsvg%3E%0A";
  @return url("#{$svg_data},#{$caret-icon}");
}

.sidenav .collapsible label:after {
  background-image: generateCaretIcon();
}

.sidenav {
  max-width: 216px;
  //background: $clr-action-blue-dark-midtone;
  background: linear-gradient(to bottom, $clr-action-blue-dark-midtone 0%, $clr-action-blue-dark 100%);
  * {
    color: $clr-white;
  }
}

.sidenav .nav-group .nav-list .nav-link:hover {
  color: $clr-dark-gray;
}

.sidenav .sidenav-content > .nav-link:hover {
  color: $clr-dark-gray;
}

.sidenav .nav-group .nav-list .nav-link.active {
  background: $clr-near-white;
  color: $clr-dark-gray !important;
}

.fr-logo {
  display: inline-block;
  margin-right: 6px;
  width: 36px;
  height: 24px;
  background: none;
  img {
    max-width: 36px;
    max-height: 24px;
    height: auto;
  }
}

.site-opt {
  letter-spacing: 1px;
}

div.logout {
  background: lighten($clr-action-blue-darkest, 5%);
  margin-left: 24px;
  padding-right: 24px;
  padding-left: 24px;
  cursor: pointer;
  display: flex !important;
  align-items: center !important;
  transition: background-color 0.3s;
  &:hover {
    background: darken($clr-action-blue-darkest, 5%);
  }
  span, .logout-icn {
    margin-top: auto;
    margin-bottom: auto;
  }
  .logout-icn {
    margin-left: 12px;
  }
}

.sidenav-content::-webkit-scrollbar,
.sidenav-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 10px;
  transition: all 1s ease;
}

.sidenav-content::-webkit-scrollbar-thumb {
  background: rgba(192, 192, 192, .6);

}
