<clr-modal class="config-rem-modal" [(clrModalOpen)]="remModalIsOpen">
  <h3 class="modal-title">Delete cashier?</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete this item?</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-outline" (click)="closeRemModal()">Cancel</a>
    <button type="button" class="btn btn-danger" (click)="onRemoveCashier()">Delete</button>
  </div>
</clr-modal>

<form [formGroup]="cashierUpdateForm" class="row form-group" (ngSubmit)="onUpdateCashier(cashierUpdateForm.value)">
  <input formControlName="_id_" type="hidden">

  <div class="col-xs">
    <input formControlName="name">
  </div>
  <div class="col-xs">
    <input formControlName="surname">
  </div>
  <div class="col-xs">
    <input formControlName="employee_number">
  </div>
  <div class="col-xs">
    <input formControlName="id_number">
  </div>
  <div class="col-xs tac">
    <div class="row">
      <div class="col-xs-6">
        <button [disabled]="!cashierUpdateForm.valid || cashierUpdateForm.pristine" *ngIf="!busy; else busyBtn"
                class="btn btn-success btn-sm" data-tooltip="Save">
          <clr-icon shape="floppy" size="16" class="is-solid"></clr-icon>
        </button>
      </div>
      <div class="col-xs-6">
        <button *ngIf="!busy; else busyBtn"
                (click)="this.openRemModal($event)"
                class="btn btn-warning btn-sm" data-tooltip="Delete">
          <clr-icon shape="trash" size="16" class="is-solid"></clr-icon>
        </button>
      </div>
    </div>
  </div>
</form>

<ng-template #busyBtn>
  <button class="btn btn-success btn-sm btn-busy">
    <span class="spinner spinner-inline">
            Loading...
          </span>
  </button>
</ng-template>
