<div class="row">
  <div class="col-12-xs cont">
    <h1>404</h1>
    <p>The page you are looking for was moved, removed, renamed or might never existed.</p>
    <a [routerLink]="['']" class="btn btn-primary-outline mt24">Return</a>
  </div>
</div>
