@import "../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.row {
  display: flex;
  justify-content: center;
  .card {
    background: $clr-green-lightest;
  }
}

.graph-cont {
  margin-top: -48px;
}

.req {
  background: $clr-yellow-lightest !important;
}

li.req-itm {
  font-weight: bold;
}

.alert-card {
  position: relative;
  background: $clr-green-lightest;
  &.info-card {
    background: $clr-action-blue-lightest;
    border: 1px solid $clr-action-blue-lighter;
  }
  border: 1px solid $clr-green-lighter;
  padding: 6px;
  h5, p {
    margin: 0;
  }
  p {
    font-size: 10px;
    line-height: 12px;
  }
  .dismiss {
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    transition: all .1s;
    &:hover {
      background: $clr-red;
      border-radius: 30px;
      color: $clr-white;
    }
  }
}

.notify-header {
  display: flex;
  align-items: center;
  .spinner {
    margin-left: 12px;
  }
}

h6.date {
  margin: 0;
  color: $clr-dark-midtone-gray;
}

.no-charts {
  margin-top: 120px;
}

.loader {
  p {
    margin-top: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .spinner {
    margin-right: 12px;
  }
}

.bring-back {
  cursor: pointer;
  color: $clr-dark-midtone-gray;
  font-size: 12px;
}

.bring-back-button {
  text-transform: capitalize !important;
  z-index:1000;
  position: absolute;
  right: 0;
  top: 48px;
}
