<div *ngIf="!activeNotices?.length && hiddenNoticeIds?.length" class="bring-back-button">
  <button (click)="returnDismissedNotices()" type="button" class="btn btn-icon btn-primary"
          title="View dismissed notices">
    <clr-icon shape="talk-bubbles" class="is-solid"></clr-icon>
  </button>
</div>

<div class="row">

  <div [ngClass]="activeNotices?.length ? 'col-lg-10' : 'col-lg-12'">

    <div [hidden]="numLoaded < 1 && numFails < 5" class="cont">
      <div *ngIf="numFails < 5; else nocharts" class="row graph-cont">

        <daccs-prop-daily-ops (failed)="handleFails($event)" [year]="year" [month]="month"></daccs-prop-daily-ops>

        <daccs-monthly-ops (failed)="handleFails($event)" [year]="year"></daccs-monthly-ops>

        <daccs-daily-liter-sales (failed)="handleFails($event)" [year]="year" [month]="month"></daccs-daily-liter-sales>

        <daccs-annual-liter-sales (failed)="handleFails($event)"></daccs-annual-liter-sales>

        <daccs-monthly-sales-by-cat (failed)="handleFails($event)" [year]="year"></daccs-monthly-sales-by-cat>

      </div>
    </div>

    <div *ngIf="numLoaded < 1 && numFails < 5" class="loader">
      <p><span class="spinner spinner-sm"></span> LOADING GRAPHS...</p>
    </div>
  </div>


  <div *ngIf="activeNotices?.length" class="col-lg-2">
    <h3 class="notify-header mb12">Notifications </h3>

    <div *ngFor="let notice of activeNotices" [@flyInOut]="notice" class="alert-card mt6 info-card">
      <h5>{{ notice.title }}</h5>
      <h6 class="date">{{ notice.date }}</h6>
      <clr-icon (click)="dismissNotice(notice.id)" class="dismiss" shape="times"></clr-icon>
      <p>{{ notice.notice }}</p>
    </div>

    <a [hidden]="!hiddenNoticeIds?.length" (click)="returnDismissedNotices()" class="bring-back">View dismissed
      notices?</a>

  </div>

</div>

<ng-template #nocharts>
  <div class="row no-charts">
    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header">
          Dashboard
        </div>
        <div class="card-block">
          <div class="card-title">
            Welcome to the DACCS System
          </div>
          <div class="card-text">
            Please Select a menu item on the left
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">OK</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
