@import "../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

input {
  width: 100%;
  text-align: center;
  background-image: none !important;
}

button, a {
  margin: 0;
}

.spinner {
  margin-top: 2px;
  margin-bottom: 2px;
}

.odd {
  padding-top: 3px;
  padding-bottom: 3px;
  background: $clr-near-white;
}

.even {
  padding-top: 3px;
  padding-bottom: 3px;
  background: $clr-light-gray;
}
