<clr-modal class="config-rem-modal" [(clrModalOpen)]="remModalIsOpen">
  <h3 class="modal-title">Delete User?</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete this User?</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-outline" (click)="closeRemModal()">Cancel</a>
    <button type="button" class="btn btn-danger" (click)="onRemoveUser()">Delete</button>
  </div>
</clr-modal>

<div class="row section-header">
  <div class="col-xs-4 section-title">
    <h2>Company Users <span *ngIf="loading" class="spinner spinner-inline load">Loading...</span></h2>
  </div>
  <div class="col-xs-8">
    <a routerLink="new" class="btn btn-success">Add new user</a>
  </div>
</div>

<div *ngIf="users$ | async as userslist">

  <div class="row mb24">
    <div class="col-xs-2"><p class="p4">First Name</p></div>
    <div class="col-xs-2"><p class="p4">Last Name</p></div>
    <div class="col-xs-3"><p class="p4">Site</p></div>
    <div class="col-xs-3"><p class="p4">Email</p></div>
    <div class="col-xs-2"></div>
  </div>

  <div *ngFor="let user of userslist; let isOdd=odd; let isEven=even" class="row"
       [class.odd]="isOdd"
       [class.even]="isEven">
    <div class="col-xs-2">{{ user.first_name }}</div>
    <div class="col-xs-2">{{ user.last_name }}</div>
    <div class="col-xs-3">{{ user.site_name }}</div>
    <div class="col-xs-3">{{ user.email }}</div>
    <div class="col-xs-2 tac">
      <div class="row">
        <div class="col-xs-6">
          <a [routerLink]="['update', user.id]" class="btn btn-primary btn-sm tooltip-left"
             data-tooltip="Update User">
            <clr-icon shape="pencil" size="16" class="is-solid"></clr-icon>
          </a>
        </div>
        <div class="col-xs-6">
          <button *ngIf="!busy; else busyBtn"
                  (click)="this.openRemModal($event, user.id)"
                  class="btn btn-warning btn-sm" data-tooltip="Remove User">
            <clr-icon shape="trash" size="16" class="is-solid"></clr-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #busyBtn>
  <button class="btn btn-success btn-sm btn-busy">
    <span class="spinner spinner-inline">
            Loading...
          </span>
  </button>
</ng-template>
