<div [ngSwitch]="true">

  <daccs-form-deposits-speedpoint
    *ngSwitchCase="sectionURL === 'speedpoint_deposits'"
    [mongoId]="(EODData$ | async) ? (EODData$ | async).id : null"
    (dirtyForm)="setFormDirty($event)"
    [speedpointDataArr]="(EODData$ | async) ? (EODData$ | async)[sectionURL] : null">
  </daccs-form-deposits-speedpoint>

  <daccs-form-simple-eod
    *ngSwitchCase="sectionURL === 'shorts' || sectionURL === 'float_control'"
    [simpleReconItemName]="sectionURL"
    [mongoId]="(EODData$ | async) ? (EODData$ | async).id : null"
    [simpleReconItemData]="(EODData$ | async) ? (EODData$ | async)[sectionURL] : null">
  </daccs-form-simple-eod>

  <daccs-form-core-eod
    *ngSwitchDefault
    (dirtyForm)="setFormDirty($event)"
    [reconItemName]="sectionURL"
    [mongoId]="(EODData$ | async) ? (EODData$ | async).id : null"
    [reconItemData]="(EODData$ | async) ? (EODData$ | async)[sectionURL] : null">
  </daccs-form-core-eod>

</div>
