<div class="row">
  <div class="col-md-8 offset-md-2">

    <div class="row section-header">
      <div class="col-xs-4 section-title">
        <h2>Edit User <span *ngIf="loading || busy" class="spinner spinner-inline load"></span></h2>
      </div>
      <div class="col-xs-8">
        <a routerLink="../../" class="btn btn-outline-success">
          <clr-icon shape="undo"></clr-icon>
          Back to user list
        </a>
      </div>
    </div>

    <form *ngIf="user" [formGroup]="updateUserForm" (ngSubmit)="onUpdateUser(updateUserForm.value)">
      <section class="form-block">
        <label class="mb24">User Name: {{ user.first_name }} {{ user.last_name }}</label>

        <input type="hidden" formControlName="id" id="id">

        <div class="form-group">
          <label for="first_name">First Name: </label>
          <input formControlName="first_name" id="first_name" size="45">
        </div>

        <div class="form-group">
          <label for="last_name">Last Name </label>
          <input formControlName="last_name" id="last_name" size="45">
        </div>

        <div class="form-group">
          <label for="designation">User Role:* </label>
          <div class="select">
            <select formControlName="designation" id="designation">
              <option *ngFor="let role of roles" [value]="role.id">{{role.title}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="site">Site:</label>
          <div class="select">
            <select formControlName="site" id="site">
              <option *ngFor="let site of sites" [value]="site.id">{{site.title}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="mobile_number">Contact number: </label>
          <input formControlName="mobile_number" id="mobile_number" size="45">
        </div>

        <div class="form-group">
          <label for="email">Email:* </label>
          <input [class.req]="updateUserForm.get('email').invalid
          && !updateUserForm.get('email').pristine"
                 [placeholder]="(updateUserForm.get('email').invalid
          && !updateUserForm.get('email').pristine) ? 'This field is required' : ''"
                 formControlName="email"
                 id="email" size="45">
        </div>
        <div class="form-group">
          <label for="is_active">Active: </label>

          <div class="toggle-switch">
            <input formControlName="is_active" type="checkbox" id="is_active">
            <label for="is_active"></label>
          </div>

        </div>

        <div class="form-group">
          <label for="is_staff">Staff: </label>

          <div class="toggle-switch">
            <input formControlName="is_active" type="checkbox" id="is_staff">
            <label for="is_staff"></label>
          </div>

        </div>
        <div class="form-group">
          <label for="suspended">Suspended: </label>

          <div class="toggle-switch">
            <input formControlName="suspended" type="checkbox" id="suspended">
            <label for="suspended"></label>
          </div>

        </div>

        <button *ngIf="!busy; else busyBtn" [disabled]="!updateUserForm.valid || updateUserForm.pristine"
                class="btn btn-primary">
          UPDATE
        </button>

        <ng-template #busyBtn>
          <button class="btn btn-busy">
            <span class="busy-txt">UPDATING...</span>
            <span class="spinner spinner-inline"></span>
          </button>
        </ng-template>

      </section>
    </form>

  </div>
</div>

