@import "../../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.invalid-tip {
  pointer-events: none;
  color: $clr-red-light !important;
  position: absolute !important;
  top: 0;
  padding-left: 6px;
  font-size: 12px;
}
