<div id="form-array" [formGroup]="arrForm" class="row form-group">
  <div class="col-xs-2">
    <input formControlName="ref_number"
           class="full-input"
           type="text">

    <span class="invalid-tip" *ngIf="arrForm.controls['ref_number'].invalid">* Required</span>

  </div>
  <div class="col-xs-6">
    <input formControlName="description"
           class="full-input"
           type="text">

    <span class="invalid-tip" *ngIf="arrForm.controls['description'].invalid">* Required</span>

  </div>
  <div class="col-xs-2">
    <input formControlName="amount"
           class="full-input money"
           (focus)="$event.target.select()"
           daccsDecCurrFormatter
           decimalPlaces="2"
           [onlyNumber]="true"
           minValue="-999999999.00"
           maxValue="999999999.00"
           type="text">

    <span class="invalid-tip" *ngIf="arrForm.controls['amount'].invalid">* Required</span>

  </div>
  <div class="col-xs-2">
    <clr-icon (click)="onDelete()" shape="times" class="is-error delete-row"></clr-icon>
  </div>
</div>
