<div class="row">
  <div class="col-md-8 offset-md-2">

    <div class="row">
      <div class="col-xs-12">
        <h2>Company Details</h2>
        <h4>Account Number: {{ companyData?.account_number }}</h4>
      </div>
    </div>


    <form *ngIf="companyData; else loading" [formGroup]="companyDataForm"
          (ngSubmit)="onUpdateCompany(companyDataForm.value)">
      <input type="hidden" formControlName="_id_" id="_id_">

      <section class="form-block">

        <div class="form-group">
          <label for="title">Company Name: </label>
          <input [placeholder]="companyDataForm.get('title').invalid ? 'This field is required' : ''"
                 formControlName="title"
                 id="title"
                 size="45">
        </div>

        <div class="form-group">
          <label for="company_registration_name">Company Registration Name: </label>
          <input formControlName="company_registration_name" id="company_registration_name" size="45">
        </div>

        <div class="form-group">
          <label for="company_vat_number">Company VAT No: </label>
          <input formControlName="company_vat_number" id="company_vat_number" size="45">
        </div>

        <div class="form-group">
          <label for="contact_person_name">Contact Person Name: </label>
          <input formControlName="contact_person_name" id="contact_person_name" size="45">
        </div>

        <div class="form-group">
          <label for="contact_email">Contact Person Email: </label>
          <input [class.req]="companyDataForm.get('contact_email').invalid" formControlName="contact_email"
                 id="contact_email" size="45">
        </div>

        <div class="form-group">
          <label for="contact_mobile_number">Contact Person Mobile: </label>
          <input formControlName="contact_mobile_number" id="contact_mobile_number" size="45">
        </div>

        <div class="form-group">
          <label for="company_telephone">Company Telephone: </label>
          <input [class.req]="companyDataForm.get('company_telephone').invalid"
                 [placeholder]="companyDataForm.get('company_telephone').invalid ? 'This field is required' : ''"
                 formControlName="company_telephone"
                 id="company_telephone"
                 size="45">
        </div>

        <div class="form-group">
          <label for="company_address">Company Address: </label>
          <textarea formControlName="company_address" id="company_address" rows="5"></textarea>
        </div>

        <div class="form-group">
          <label for="country">Country: </label>
          <div class="select">
            <select formControlName="country" id="country">
              <option *ngFor="let co of countries" [value]="co.alpha2">{{co.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="aForm_4">Textarea</label>
          <textarea id="aForm_4" rows="5"></textarea>
        </div>
        <button *ngIf="!busy; else busyBtn" type="submit"
                [disabled]="!companyDataForm.valid || companyDataForm.pristine"
                class="btn btn-primary">
          UPDATE
        </button>

        <ng-template #busyBtn>
          <button class="btn btn-busy">
            <span class="busy-txt">UPDATING...</span>
            <span class="spinner spinner-inline"></span>
          </button>
        </ng-template>

      </section>
    </form>

    <ng-template #loading>
      Loading...
    </ng-template>
  </div>
</div>
