@import "../../../../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.item-input-row {
  .col-xs {
    text-align: right;
  }
}

*::-webkit-input-placeholder {
  color: $clr-gray;
  opacity: 1 !important;
}

*:-moz-placeholder {
  /* FF 4-18 */
  color: $clr-gray;
  opacity: 1 !important;
}

*::-moz-placeholder {
  /* FF 19+ */
  color: $clr-gray;
  opacity: 1 !important;
}

*:-ms-input-placeholder {
  /* IE 10+ */
  color: $clr-gray;
  opacity: 1 !important;
}
