<div *ngIf="mainCatType === 0; else other" [formGroup]="rowForm" class="row form-group item-input-row">

  <input formControlName="_id_"
         class="form-control"
         type="hidden">

  <div class="col-xs-3">
    <input formControlName="title"
           readonly
           class="form-control no-border read-only"
           type="text">
  </div>

  <div class="col-xs-3">
    <input formControlName="liters"
           #focusLiters
           (keydown.enter)="processEnter($event, focusAmnt)"
           (focus)="$event.target.select()"
           class="form-control"
           type="text">
  </div>
  <div class="col-xs-3">
    <input formControlName="amount"
           #focusAmnt
           (keydown.enter)="processEnter($event, focusLiters)"
           (focus)="$event.target.select()"
           class="form-control money"
           daccsDecCurrFormatter
           decimalPlaces="2"
           [onlyNumber]="true"
           minValue="-999999999.00"
           maxValue="999999999.00"
           type="text">
  </div>
</div>

<ng-template #other>
  <div [formGroup]="rowForm" class="row form-group item-input-row">

    <input formControlName="_id_"
           class="form-control"
           type="hidden">

    <div class="col-xs">
      <input formControlName="title"
             readonly
             class="form-control no-border read-only"
             type="text">
    </div>
    <div class="col-xs">
      <input formControlName="vat_code"
             readonly
             class="form-control no-border read-only"
             type="hidden">

      <input [placeholder]="vatObj.description"
             readonly
             class="form-control no-border tac"
             type="text">
    </div>
    <div class="col-xs">
      <input formControlName="amount"
             #focusExcl
             name="EX_AMNT"
             [(ngModel)]="exclAmnt"
             (input)="getTotalsFromExcl($event.target.value)"
             (focus)="$event.target.select()"
             class="form-control money"
             (keydown.enter)="processEnter($event, vatPercentage <= 0 ? focusIncl : focusVat)"
             daccsDecCurrFormatter
             [multiField]="true"
             decimalPlaces="2"
             [onlyNumber]="true"
             minValue="-999999999.00"
             maxValue="999999999.00"
             id="EXCL"
             type="text">
    </div>
    <div class="col-xs">
      <input formControlName="vat"
             #focusVat
             (keydown.enter)="processEnter($event, focusIncl)"
             name="VAT_AMNT"
             [(ngModel)]="vatAmnt"
             (input)="getTotalsFromVAT($event.target.value)"
             (focus)="$event.target.select()"
             daccsDecCurrFormatter
             [multiField]="true"
             decimalPlaces="2"
             [onlyNumber]="true"
             minValue="-999999999.00"
             maxValue="999999999.00"
             [readonly]="vatPercentage <= 0"
             class="form-control money"
             [ngClass]="{'no-border read-only zero-vat' : vatPercentage <= 0}"
             id="VAT"
             type="text">
    </div>
    <div class="col-xs">
      <input formControlName="incl"
             name="INC_AMNT"
             (keydown.enter)="processEnter($event, focusExcl)"
             #focusIncl
             [(ngModel)]="inclAmnt"
             (input)="getTotalsFromIncl($event.target.value, true)"
             (focus)="$event.target.select()"
             daccsDecCurrFormatter
             [multiField]="true"
             decimalPlaces="2"
             [onlyNumber]="true"
             minValue="-999999999.00"
             maxValue="999999999.00"
             class="form-control money"
             id="IMCL"
             type="text">
    </div>
  </div>
</ng-template>
