<div class="row heading">
  <div class="col-xs-6">
    <h2>Generate Batch<span *ngIf="(batchState$ | async)?.mainBusy"
                            class="spinner spinner-inline load">Loading...</span></h2>
  </div>
  <div class="col-xs-6 month-picker">
    <form #f="ngForm" (ngSubmit)="onSubmitRetrieve(f.value, f.valid)" novalidate>
      <label>
        Month:
        <select name="month" [ngModel]="reportMonth.month" required>
          <option *ngFor="let month of months" [value]="month.val">{{month.name}}</option>
        </select>
      </label>
      <label>
        Year:
        <select name="year" [(ngModel)]="reportMonth.year" required>
          <option *ngFor="let year of years" [selected]="yy === year ">{{year}}</option>
        </select>
      </label>
      <button *ngIf="!(batchState$ | async)?.retrieveDateRequest; else busyBtnIn" type="submit"
              class="btn btn-success btn-sm retr">Retrieve Data
      </button>
      <ng-template #busyBtnIn>
        <button class="btn btn-success btn-busy-inline">
          <span>Loading..</span>
          <span class="spinner spinner-inline">
          </span>
        </button>
      </ng-template>
    </form>
  </div>
</div>

<div *ngIf="(batchState$ | async)?.noBatchFound" class="no-report row">
  <div class="col-xs">
    <h3 class="no-report">
      <clr-icon shape="exclamation-triangle" class="is-solid" size="30"></clr-icon>
      Batch for {{ dateString.longName }} {{ yy }} has not yet been generated
    </h3>
    <p>Click to Generate</p>
    <button *ngIf="!(batchState$ | async)?.genRequest; else busyBtn" (click)="handleGenerate()" type="submit"
            class="btn btn-success mt24">Generate Data
    </button>
  </div>
</div>

<div *ngIf="(batchState$ | async)?.batchInProgress" class="processing row">
  <div class="col-xs-9">
    <h3>
      Batch for {{ dateString.longName }} {{ yy }} is being processed
    </h3>
    <p class="mb24">This may take several minutes. You can safely leave this page without interrupting the batch
      generation.</p>

    <table class="table">
      <thead>
      <tr>
        <th class="status">Status</th>
        <th class="status">Message</th>
        <th>Data File</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="proc">Processing.. <span class="spinner spinner-sm"></span></div>
        </td>
        <td>
          <div class="proc">Processing.. <span class="spinner spinner-sm"></span></div>
        </td>
        <td>
          <div class="proc">Processing.. <span class="spinner spinner-sm"></span></div>
        </td>
      </tr>
      </tbody>
    </table>

    <button (click)="handleRefresh()" *ngIf="!(batchState$ | async)?.refreshRequest; else busyBtn" type="submit"
            class="btn btn-info mt24">
      Refresh
    </button>
  </div>
</div>

<div *ngIf="(batchState$ | async)?.batchProcessed" class="proc-complete row">
  <div class="col-xs-9">
    <h3>
      Batch for {{ dateString.longName }} {{ yy }} is complete
    </h3>
    <p class="mb24">Click on the file to download</p>

    <table class="table">
      <thead>
      <tr>
        <th class="status">Status</th>
        <th class="status">Message</th>
        <th>Data File</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="(batchState$ | async)?.batchSuccess; else failed">
        <td>
          <div class="proc">Complete
            <clr-icon class="tick" shape="check"></clr-icon>
          </div>
        </td>
        <td>
          <div class="proc"><span class="fail-text">{{ batch.status_text }}</span></div>
        </td>
        <td>
          <div class="proc"><a href="{{ batch.csv }}">{{ batch.csv_name }}</a></div>
        </td>
      </tr>
      <ng-template #failed>
        <tr>
          <td>
            <div class="proc">Failed
              <clr-icon class="tick" shape="times"></clr-icon>
            </div>
          </td>
          <td>
            <div class="proc"><span class="fail-text">{{ batch.status_text }}</span></div>
          </td>
          <td>
            <div class="proc"><span class="fail-text">There was an error generating the batch</span></div>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>

    <button (click)="handleReGenerate()" *ngIf="!(batchState$ | async)?.regenRequest; else busyBtn" type="submit"
            class="btn btn-success mt24">
      Re-generate Data
    </button>
  </div>
</div>

<ng-template #busyBtn>
  <button class="btn btn-busy mt24">
    <span class="busy-txt">LOADING...</span>
    <span class="spinner spinner-inline"></span>
  </button>
</ng-template>
