@import "../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

h2 {
  display: flex;
  align-items: center;
  .load {
    margin-left: 24px;
    width: 24px;
    height: 24px;
  }
}

button {
  margin: 0;
}

input {
  width: 100%;
  text-align: center;
}

.spinner {
  margin-top: 2px;
  margin-bottom: 2px;
}

.new {
  background: $clr-action-blue;
  color: $clr-white;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
}

select {
  height: 28px;
}

p {
  text-align: center;
  margin: 0;
  font-size: 14px;
}

.sys {
  padding-top: 12px;
  button {
    background: $clr-action-blue-light;
    color: $clr-black !important;
  }
}
