<div class="overlay" [class.busy]="busy$ | async">
  <img class="busySpin" *ngIf="busy$ | async" [src]="loaderImg" alt="Busy">

  <form class="recon-form" *ngIf="reconItemData" [formGroup]="reconItemForm"
        (keydown.enter)="$event.preventDefault()"
        (ngSubmit)="onSubmit(reconItemForm.value)">

    <div class="row">
      <div *ngFor="let field of reconItemFields" class="cust-col"
           [style.width]="field.width === 2 ? 2 * colPercent + '%' : colPercent + '%'">
        <p class="p4">
          {{ field.title }}
        </p>
      </div>
      <div class="cust-col tac" [style.width]="colPercent + '%'"><p
        class="p4">Delete</p></div>
    </div>

    <div *ngFor="let control of getFormArrayControls(reconItemForm, reconKeyName); let i = index">

      <daccs-form-field
        [genLedgers]="genLedgers"
        [suppliers]="suppliers"
        [accHolders]="accHolders"
        [vatCodes]="vatCodes"
        [recAccDesc]="recAccDesc"
        [speedPointTerms]="speedPointTerms"
        (rowDeleted)="delInputRow(i)"
        [reconItemFields]="reconItemFields"
        [arrForm]="getFormArrayControls(reconItemForm, reconKeyName)[i]">
      </daccs-form-field>

    </div>

    <button type="button" (click)="addInputRow()" class="btn btn-sm add-row">
      <clr-icon shape="add" size="16"></clr-icon>
      Add new row
    </button>

    <div class="row headers">
      <div *ngFor="let i of columns" class="col-xs">
        <span></span>
      </div>
      <div class="col-xs">
        <div class="total-txt">
          <h4>Total: </h4>
        </div>
      </div>
      <div class="col-xs total-amnt">
        <div class="amnt-cont">
          <h4>R {{ amountTotal | number:'.2-2' }}</h4>
        </div>
      </div>
      <div class="col-xs">
        <span></span>
      </div>
    </div>

    <div class="button-cont mt48">
      <button [disabled]="(conbroken$ | async)?.broken
      || !reconItemForm.valid
      || reconItemForm.pristine
      || (mainRecon$|async)?.complete"
              class="btn btn-primary">Submit
      </button>
      <span class="submit-warn" [class.warning-on]="reconItemForm.invalid">* Please ensure all required fields are completed.</span>
    </div>

    <span class="is-complete-msg" *ngIf="(mainRecon$|async)?.complete">* This Recon is marked as complete and cannot be submitted.</span>

  </form>
</div>
