.cust-col {
  padding-left: 12px;
  padding-right: 12px;
}

.busy *:not(.submit-warn) {
  opacity: 0.5;
  z-index: 9999;
}

.overlay {
  position: relative;
}

img.busySpin {
  margin-top: 48px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 96px;
}


