<div id="main-cont-eod" class="row">
  <div class="col-xs-12">

    <div class="nav-btn-group">
      <div class="btn-group">
        <a [routerLink]="['sales']" routerLinkActive="btn-primary" class="btn">
          Sales
        </a>
        <a [routerLink]="['cash-payouts']" routerLinkActive="btn-primary" class="btn">
          Cash Payouts
        </a>
        <a [routerLink]="['cash-payins']" routerLinkActive="btn-primary" class="btn">
          Cash Payins
        </a>
        <a [routerLink]="['received-on-account']" routerLinkActive="btn-primary" class="btn">
          Rec On Acc
        </a>
        <a [routerLink]="['account-sales']" routerLinkActive="btn-primary" class="btn">
          Account Sales
        </a>
        <a [routerLink]="['deposits']" routerLinkActive="btn-primary" class="btn">
          Deposits
        </a>
        <a [routerLink]="['float-control']" routerLinkActive="btn-primary" class="btn">
          Float
        </a>
        <!--<a [routerLink]="['shorts']" routerLinkActive="btn-primary" class="btn">-->
          <!--Shorts-->
        <!--</a>-->
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>
