@import "../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

#main-cont-eod {
  margin-top: 24px;
  background: #FFFFFF;
  border: 1px solid $clr-lighter-midtone-gray;
  padding-top: 12px;
  padding-bottom: 12px;
}
