@import "../../../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.sales {
  text-align: center;
  //background: $clr-light-gray;
}

.odd {
  //background: $clr-lighter-midtone-gray;
}
