<div [formGroup]="arrForm" class="row form-group">

  <input formControlName="_id_"
         class="form-control"
         type="hidden">

  <input formControlName="category_type"
         class="form-control"
         type="hidden">

  <div class="col-xs sales" [class.odd]="odd">
    <input formControlName="title"
           class="read-only title-input no-border"
           readonly
           type="text">
  </div>

  <div class="col-xs">
    <input formControlName="amount"
           (focus)="$event.target.select()"
           daccsDecCurrFormatter
           decimalPlaces="2"
           [onlyNumber]="true"
           minValue="-999999999.00"
           maxValue="999999999.00"
           class="money"
           type="text">
  </div>
</div>
