/* You can add global styles to this file, and also import other style files */
@import "../node_modules/clarity-ui/src/color/utils/colors.clarity";

body {
  overflow: hidden; /* scrolling handled by main container */
}

/* Helpers */
.mb6 {
  margin-bottom: 6px !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.mb48 {
  margin-bottom: 48px !important;
}

.mb72 {
  margin-bottom: 72px !important;
}

.mt6 {
  margin-top: 6px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.mt48 {
  margin-top: 48px !important;
}

.mt72 {
  margin-top: 72px !important;
}

.tac {
  text-align: center !important;
}

.tal {
  text-align: left !important;
}

.tar {
  text-align: right !important;
}

.hide-elem {
  display: none !important;
}

/* Charts */
.chart-load {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-busy {
  background: $clr-lighter-midtone-gray !important;
  border-color: $clr-light-midtone-gray !important;
  color: $clr-white;
  .busy-txt {
    margin-right: 12px;
  }
  &:active {
    border: none !important;
    box-shadow: none !important;
  }
}

/* Header  */
.main-container header, .main-container .header {
  flex: 0 0 40px;
}

@-moz-document url-prefix() {
  .main-container header, .main-container .header {
    flex: 0 0 auto;
  }
}

.header, .header .branding, .header .header-actions {
  height: 40px;
}

/* Forms*/
form .form-group, .form .form-group {
  margin-bottom: 0;
}

form .form-group input[type="password"] {
  background-color: rgb(255, 255, 255);
  border: 1px solid $clr-lighter-midtone-gray !important;
  min-width: 325px;
}

form.recon-form {
  padding-bottom: 200px;
}

input, select, textarea {
  border: 1px solid $clr-lighter-midtone-gray !important;
}

input.no-border {
  border: none !important;
}

[id^=__lpform] {
  display: none !important;
}

form .form-group input[type=password] {
  background-color: rgb(255, 255, 255);
  min-width: 325px !important;
}

.headers {
  text-align: center;
  p {
    margin-bottom: 24px;
  }
  .total-txt {
    font-weight: 700 !important;
    text-align: right;
  }
  .total-amnt {
    .amnt-cont {
      text-align: right;
      h5, h4 {
        border-radius: 2px;
        background: $clr-action-blue-dark;
        color: $clr-white;
        display: inline-block;
        padding-left: 6px;
        padding-right: 6px;
      }
    }
  }
}

input {
  text-align: right;
  padding-left: 6px;
}

.select select {
  min-width: 327px;
}

form input[type=number], input.money {
  text-align: right;
}

.full-input {
  width: 100% !important;
}

input:not(.read-only):not(.ng-pristine).ng-invalid, select.ng-invalid:not(.ng-pristine) {
  background: none !important;
  border: 1px solid $clr-red-light !important;
  border-left: 5px solid $clr-red-light-midtone !important;
  padding-left: 6px !important;
}

input.req {
}

input.read-only {
  text-align: right;
  font-weight: bold;
  color: $clr-near-black;
}

input.title-input {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.add-row {
  margin-top: 12px;
  text-transform: lowercase;
  clr-icon {
    margin-right: 12px;
  }
}

.delete-row {
  cursor: pointer;
}

input.ng-dirty, select.ng-dirty {
  background: $clr-yellow-lighter;
}

h5.form-total {
  margin: 0;
  font-weight: bold;
  float: right;
}

.extra-wide {
  flex-grow: 2;
}

.submit-warn {
  color: $clr-red-light-midtone;
  font-size: 16px !important;
  opacity: 0;
  transition: 0.5s;
}

.is-complete-msg {
  margin-top: 12px;
  background: $clr-yellow-dark-midtone;
  color: $clr-white;
  border-radius: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
}

.warning-on {
  opacity: 1;
}

.button-cont {
  display: flex;
  align-items: center;
}

/* Datepicker */
#date-picker {
  margin-top: 7px;
  width: 240px;
  padding: 0;
  float: right;
}

.mydp .selection {
  text-align: center !important;
  border: none !important;
}

/* TOP TAB LINKS */

/* active class */
.nav-link.is-active {
  background: $clr-action-blue;
  color: $clr-white !important;
}

.subnav {
  background: none;
  ul {
    padding-left: 0 !important;
  }
}

/* CASHIER STACK VIEW */
#cashier-stack {
  * {
    font-size: 12px;
  }
  .stack-title {
    color: $clr-dark-gray;
  }
  .stack-header {
    margin-top: 0;
  }

  .first-block > dt:first-child {
    max-width: 10%;
  }

  .first-block {
    a {
      color: $clr-dark-gray !important;
      text-decoration: none;
    }
    .sub dt {
      display: none;
    }
    .sh-amnt {
      float: right;
    }
    span.gen-head {
      float: left;
      font-weight: bold;
    }
    span.gen-amnt {
      white-space: nowrap;
    }
    span.sh-head {
      color: $clr-red-dark;
      background: none;
      font-weight: bold;
    }
    .over {
      color: $clr-green-dark !important;
    }
    .cashier-setting {
      cursor: pointer;
      position: absolute;
      right: 18px;
    }
  }

  .stack-block-expanded a {
    color: $clr-near-black !important;
  }

  .sub {
    text-align: right;
  }
  .is-active-cashier {
    dt, dd {
      background: $clr-action-blue-lightest;
    }
  }

  .edit-drawer {
    background: $clr-white;
    input, select {
      width: 100%;
      height: 20px;
    }
    dt, dd {
      background: $clr-white;
    }
  }

  .confirm {
    float: right;
    padding-right: 12px;
    button {
      margin: 6px 0 0;
      padding: 0;
      background: none;
      min-width: 32px;
      width: 32px;
      height: 18px;
      line-height: 18px;
      transition: background 0.4s;
    }
    .cancel-edit {
      margin-right: 12px;
      &:hover {
        background: $clr-red-light;
      }
    }
    .submit-edit:hover {
      background: $clr-green-lighter;
    }
  }

}

/* NAV */
.nav-btn-group {
  text-align: center;
  .btn {
    text-transform: none;
    height: 30px;
    display: flex;
    align-items: center;
  }
}

/* TABLES */
table {
  margin-top: 0 !important;
}

.total-row * {
  font-weight: bold;
}

.table td.right, .table th.right {
  text-align: right;
  line-height: 12px;
  white-space: nowrap;
}

table * {
  font-size: 12px !important;
}

/* TOASTS */
.toast {
  position: relative;
  background-color: #030303;
}

.toast-success {
  background-color: $clr-green-light-midtone;
}

.toast-error {
  background-color: #bd362f;
}

.toast-info {
  background-color: $clr-action-blue-dark;
}

.toast-wait {
  background-color: #2f96b4;
}

.toast-warning {
  background-color: #f89406;
}

#toast-container > div {
  width: 600px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#toast-container > :hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* MODALS */

.config-rem-modal {
  display: inherit !important;
}

/* Site Select */
.sites {
  .drop-cont {
    border: 1px solid $clr-light-midtone-gray;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
  }
}

/* MISC */
.section-header {
  display: flex;
  align-items: center;
  .section-title {
  }
  h2 {
    display: flex;
    align-items: center;
    margin: 0;
    line-height: normal;
    .spinner {
      margin-left: 12px;
    }
  }
}

/*
* Tooltip Styles
*/

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out,
  visibility 0.2s ease-in-out,
  -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out,
  visibility 0.2s ease-in-out,
  -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out,
  visibility 0.2s ease-in-out,
  transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  opacity: 1;
  transition-delay: 2s;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform: translateX(-12px);
  transform: translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  transform: translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

.icon {
  .btn {
    text-transform: capitalize;
  }
}

@media screen and (max-width: 768px) {
  .main-container.open-hamburger-menu .header .branding {
    position: static;
  }

  .main-container.open-hamburger-menu .sidenav.clr-nav-level-1 {
    background: #007cbb;
  }
  .main-container .header-hamburger-trigger {
    height: 0;
    margin-top: 8px;
    margin-left: 5px;
  }
  .main-container .sidenav.clr-nav-level-1 .nav-link.active {
    color: $clr-dark-gray !important;
  }
}
