<div class="row itm-cont" [class.even]="even">
  <div class="col-xs-2 itm">{{ user?.full_name}}</div>
  <div class="col-xs-2 itm">{{ user?.email}}</div>
  <div class="col-xs-1 itm">{{ user?.mobile_number}}</div>
  <div class="col-xs-2 itm">{{ (siteProfile$ | async)?.title }}</div>
  <div class="col-xs-1 itm">
    <div class="toggle-switch">
      <input [disabled]="busy" [(ngModel)]="siteNotifyItem.daily_summary_sms"
             (ngModelChange)="toggleNotification($event, 'daily_summary_sms')"
             type="checkbox"
             id="toggle_sms_{{ siteNotifyItem.id }}">
      <label for="toggle_sms_{{ siteNotifyItem.id }}"></label>
    </div>
  </div>
  <div class="col-xs-1 itm">
    <div class="toggle-switch">
      <input [disabled]="busy" [(ngModel)]="siteNotifyItem.daily_summary_email"
             (ngModelChange)="toggleNotification($event, 'daily_summary_email')" type="checkbox"
             id="toggle_email_{{ siteNotifyItem.id }}">
      <label for="toggle_email_{{ siteNotifyItem.id }}"></label>
    </div>
  </div>
  <div class="col-xs-1 itm">
    <div class="toggle-switch">
      <input [disabled]="busy" [(ngModel)]="siteNotifyItem.monthly_cumulative_email"
             (ngModelChange)="toggleNotification($event, 'monthly_cumulative_email')" type="checkbox"
             id="toggle_monthly_{{ siteNotifyItem.id }}">
      <label for="toggle_monthly_{{ siteNotifyItem.id }}"></label>
    </div>
  </div>
  <div class="col-xs-2 itm del-row">
    <button (click)="this.openRemModal($event)" *ngIf="!busy; else busyBtn"
            class="btn btn-warning btn-sm">
      <clr-icon shape="trash" size="16" class="is-solid"></clr-icon>
    </button>
  </div>
</div>

<ng-template #busyBtn>
  <button class="btn btn-success btn-sm btn-busy">
    <span class="spinner spinner-inline">
            Loading...
          </span>
  </button>
</ng-template>

<clr-modal class="config-rem-modal" [(clrModalOpen)]="remModalIsOpen">
  <h3 class="modal-title">Delete Notification?</h3>
  <div class="modal-body">
    <p>Are you sure you want to remove this user's notifications?</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-outline" (click)="closeRemModal()">Cancel</a>
    <button type="button" class="btn btn-danger" (click)="onRemoveNotif(siteNotifyItem.id)">Delete</button>
  </div>
</clr-modal>
