<div *ngIf="setupRequired?.setup_required" class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 setup-cont">
    <div class="card req">
      <div class="card-header">
        <h3>
          <clr-icon shape="info-circle" size="48" class="is-solid is-warning"></clr-icon>
          Setup Required
        </h3>
      </div>
      <div class="card-block">
        <div class="card-text">
          <h5>Please attend to the following in order to access the Daily Recon section:</h5>
          <ul class="mt24">
            <li class="req-itm" *ngFor="let req of setupRequired?.required_items">{{ req }}</li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <a [routerLink]="['/setup', firstSetupRoute]" class="btn btn-sm btn-link">Continue to Setup</a>
      </div>
    </div>
  </div>
</div>
