<div class="row" [class.even]="even">
  <div class="col-xs-2 itm">{{ histItm.created_by_fullname }}</div>
  <div class="col-xs-2 itm">{{ histItm.completed_by_fullname }}</div>
  <div class="col-xs-2 itm">{{ histItm.date_created | prettyDate }}</div>
  <div class="col-xs-2 itm">{{ histItm.recon_date | prettyDate }}</div>
  <div class="col-xs-2 itm">
    <div class="toggle-switch">
      <input [disabled]="busy" [(ngModel)]="histItm.complete" (ngModelChange)="toggle($event)" type="checkbox"
             id="toggle_{{ histItm.id }}">
      <label for="toggle_{{ histItm.id }}"></label>
    </div>
  </div>
  <div class="col-xs-2 tac">
    <button (click)="handleDeleteHistItm()" class="btn btn-warning btn-sm" data-tooltip="Delete">
      <clr-icon shape="trash" size="16" class="is-solid"></clr-icon>
    </button>
  </div>
</div>
