@import "../../../../../../node_modules/clarity-ui/src/color/utils/colors.clarity";

.row {
  padding-top: 6px;
  padding-bottom: 6px;
}

.itm {
  display: flex;
  align-items: center;
}

.even {
  background: $clr-lighter-midtone-gray;
}
