<h4>{{ title | titleCase }}</h4>

<div *ngIf="mainCatType === 0; else other" class="row headers">
  <div class="col-xs-3">
    <p class="p4 tar">Fuel Type</p>
  </div>
  <div class="col-xs-3">
    <p class="p4">Litres</p>
  </div>
  <div class="col-xs-3">
    <p class="p4">Amount</p>
  </div>
</div>

<ng-template #other>
  <div class="row headers">
    <div class="col-xs">
      <p class="p4"></p>
    </div>
    <div class="col-xs">
      <p class="p4">VAT Code</p>
    </div>
    <div class="col-xs">
      <p class="p4">Exclusive</p>
    </div>
    <div class="col-xs">
      <p class="p4">VAT</p>
    </div>
    <div class="col-xs">
      <p class="p4">Inclusive</p>
    </div>
  </div>
</ng-template>


<div *ngFor="let control of getFormArrayControls(arrForm, 'sub_categories'); let i = index">
  <daccs-form-sales-row [mainCatType]="mainCatType"
                        [vatCodes]="vatCodes"
                        [rowForm]="getFormArrayControls(arrForm, 'sub_categories')[i]"></daccs-form-sales-row>
</div>

<div *ngIf="mainCatType === 0; else otherTotals" class="row headers">
  <div class="col-xs-3 total-amnt">
    <div class="total-txt">
      <h5>Totals: </h5>
    </div>
  </div>
  <div class="col-xs-3 total-amnt">
    <div class="amnt-cont">
      <h5>{{ litresAmountTotal | number:'.2-2' }} &#8467;</h5>
    </div>
  </div>
  <div class="col-xs-3 total-amnt">
    <div class="amnt-cont">
      <h5>R {{ exclAmountTotal | number:'.2-2'}}</h5>
    </div>
  </div>
</div>

<ng-template #otherTotals>
  <div class="row headers">
    <div class="col-xs">
      <span></span>
    </div>
    <div class="col-xs total-amnt">
      <div class="total-txt">
        <h5>Totals: </h5>
      </div>
    </div>
    <div class="col-xs total-amnt">
      <div class="amnt-cont">
        <h5>R {{ exclAmountTotal | number:'.2-2'}}</h5>
      </div>
    </div>
    <div class="col-xs total-amnt">
      <div class="amnt-cont">
        <h5>R {{ vatAmountTotal | number:'.2-2'}}</h5>
      </div>
    </div>
    <div class="col-xs total-amnt">
      <div class="amnt-cont">
        <h5>R {{ inclAmountTotal | number:'.2-2'}}</h5>
      </div>
    </div>
  </div>
</ng-template>
