<div class="row section-header">
  <div class="col-xs-12 section-title">
    <h2>Setup Cashiers <span *ngIf="loading" class="spinner spinner-inline load">Loading...</span></h2>
  </div>
</div>


<div class="row mt24">
  <div class="col-xs-12">
    <h5 class="new">Create new cashier: </h5>
  </div>
</div>

<form [formGroup]="cashierAddForm" class="row form-group" (ngSubmit)="onAddCashier(cashierAddForm.value)">
  <div class="col-xs">
    <input formControlName="name">
  </div>
  <div class="col-xs">
    <input formControlName="surname">
  </div>
  <div class="col-xs">
    <input formControlName="employee_number">
  </div>
  <div class="col-xs">
    <input formControlName="id_number">
  </div>
  <div class="col-xs tac">
    <div class="row">
      <div class="col-xs-6">
        <button [disabled]="!cashierAddForm.valid || cashierAddForm.pristine" *ngIf="!busy; else busyBtn"
                class="btn btn-success btn-sm" data-tooltip="Confirm">
          <clr-icon shape="check" size="16"></clr-icon>
        </button>
      </div>
      <div class="col-xs-6">
      </div>
    </div>
  </div>
</form>

<div class="row form-group">
  <div class="col-xs">
    <p class="p4">Name</p>
  </div>
  <div class="col-xs">
    <p class="p4">Surname</p>
  </div>
  <div class="col-xs">
    <p class="p4">Employee No</p>
  </div>
  <div class="col-xs">
    <p class="p4">ID Number</p>
  </div>
  <div class="col-xs tac">
  </div>
</div>

<div *ngIf="cashiers$ | async">
  <daccs-cashier-item *ngFor="let cashier of (cashiers$ | async ) | orderBy:'_id_'"
                      [cashier]="cashier"></daccs-cashier-item>
</div>

<ng-template #busyBtn>
  <button class="btn btn-success btn-sm btn-busy">
    <span class="spinner spinner-inline">
            Loading...
          </span>
  </button>
</ng-template>
